<div class="content-heading">
  Assets amount
<!--  <small>
    Welcome to tsq admin! Your url is:
    <a target="_blank" href="{{url}}">
    {{url}}
    </a>
  </small>-->
</div>
<div class="row animated zoomIn amount">
  <div class="col-lg-3 col-sm-6" routerLink="/dashboard/photo">
    <!-- START widget-->
    <div class="panel bg-primary-light pt b0 widget">
      <div class="ph">
        <em class="fa fa-picture-o fa-2x pull-right"></em>
        <div class="h2 mt0">
          <span *ngIf="amount.photo != undefined">{{amount.photo}}</span>
          <span *ngIf="amount.photo == undefined">loading...</span>
        </div>
        <div class="text-uppercase">Photo</div>
      </div>
      <div class="h-75"></div>
    </div>
  </div>
  <div class="col-lg-3 col-sm-6" routerLink="/dashboard/music">
    <!-- START widget-->
    <div class="panel widget bg-purple-light pt b0 widget">
      <div class="ph">
        <em class="fa fa-music fa-2x pull-right"></em>
        <div class="h2 mt0">
          <span *ngIf="amount.music != undefined">{{amount.music}}</span>
          <span *ngIf="amount.music == undefined">loading...</span>
        </div>
        <div class="text-uppercase">Music</div>
      </div>
      <div class="h-75"></div>
    </div>
  </div>
  <div class="col-lg-3 col-md-6 col-sm-12" routerLink="/dashboard/video">
    <!-- START widget-->
    <div class="panel widget bg-info-light pt b0 widget">
      <div class="ph">
        <em class="fa fa-video-camera fa-2x pull-right"></em>
        <div class="h2 mt0">
          <span *ngIf="amount.video != undefined">{{amount.video}}</span>
          <span *ngIf="amount.video == undefined">loading...</span>
        </div>
        <div class="text-uppercase">Video</div>
      </div>
      <div class="h-75"></div>
    </div>
  </div>
  <div class="col-lg-3 col-md-6 col-sm-12" routerLink="/dashboard/story">
    <!-- START widget-->
    <div class="panel widget bg-success-light pt b0 widget">
      <div class="ph">
        <em class="fa fa-book fa-2x pull-right"></em>
        <div class="h2 mt0">
          <span *ngIf="amount.story != undefined">{{amount.story}}</span>
          <span *ngIf="amount.story == undefined">loading...</span>
        </div>
        <div class="text-uppercase">Story</div>
      </div>
      <div class="h-75"></div>
    </div>
  </div>
</div>

<div class="row animated zoomIn amount">
  <div class="col-lg-3 col-sm-6" routerLink="/dashboard/photo">
    <!-- START widget-->
    <div class="panel bg-primary-light pt b0 widget">
      <div class="ph">
        <em class="fa fa-picture-o fa-2x pull-right"></em>
        <div class="h2 mt0">
          <span *ngIf="amount.photo != undefined">{{amount.photo}}</span>
          <span *ngIf="amount.photo == undefined">loading...</span>
        </div>
        <div class="text-uppercase">Photo</div>
      </div>
      <div class="h-75"></div>
    </div>
  </div>
  <div class="col-lg-3 col-sm-6" routerLink="/dashboard/music">
    <!-- START widget-->
    <div class="panel widget bg-purple-light pt b0 widget">
      <div class="ph">
        <em class="fa fa-music fa-2x pull-right"></em>
        <div class="h2 mt0">
          <span *ngIf="amount.music != undefined">{{amount.music}}</span>
          <span *ngIf="amount.music == undefined">loading...</span>
        </div>
        <div class="text-uppercase">Music</div>
      </div>
      <div class="h-75"></div>
    </div>
  </div>
  <div class="col-lg-3 col-md-6 col-sm-12" routerLink="/dashboard/video">
    <!-- START widget-->
    <div class="panel widget bg-info-light pt b0 widget">
      <div class="ph">
        <em class="fa fa-video-camera fa-2x pull-right"></em>
        <div class="h2 mt0">
          <span *ngIf="amount.video != undefined">{{amount.video}}</span>
          <span *ngIf="amount.video == undefined">loading...</span>
        </div>
        <div class="text-uppercase">Video</div>
      </div>
      <div class="h-75"></div>
    </div>
  </div>
  <div class="col-lg-3 col-md-6 col-sm-12" routerLink="/dashboard/story">
    <!-- START widget-->
    <div class="panel widget bg-success-light pt b0 widget">
      <div class="ph">
        <em class="fa fa-book fa-2x pull-right"></em>
        <div class="h2 mt0">
          <span *ngIf="amount.story != undefined">{{amount.story}}</span>
          <span *ngIf="amount.story == undefined">loading...</span>
        </div>
        <div class="text-uppercase">Story</div>
      </div>
      <div class="h-75"></div>
    </div>
  </div>
</div>


<div class="row animated zoomIn amount">
  <div class="col-lg-3 col-sm-6" routerLink="/dashboard/photo">
    <!-- START widget-->
    <div class="panel bg-primary-light pt b0 widget">
      <div class="ph">
        <em class="fa fa-picture-o fa-2x pull-right"></em>
        <div class="h2 mt0">
          <span *ngIf="amount.photo != undefined">{{amount.photo}}</span>
          <span *ngIf="amount.photo == undefined">loading...</span>
        </div>
        <div class="text-uppercase">Photo</div>
      </div>
      <div class="h-75"></div>
    </div>
  </div>
  <div class="col-lg-3 col-sm-6" routerLink="/dashboard/music">
    <!-- START widget-->
    <div class="panel widget bg-purple-light pt b0 widget">
      <div class="ph">
        <em class="fa fa-music fa-2x pull-right"></em>
        <div class="h2 mt0">
          <span *ngIf="amount.music != undefined">{{amount.music}}</span>
          <span *ngIf="amount.music == undefined">loading...</span>
        </div>
        <div class="text-uppercase">Music</div>
      </div>
      <div class="h-75"></div>
    </div>
  </div>
  <div class="col-lg-3 col-md-6 col-sm-12" routerLink="/dashboard/video">
    <!-- START widget-->
    <div class="panel widget bg-info-light pt b0 widget">
      <div class="ph">
        <em class="fa fa-video-camera fa-2x pull-right"></em>
        <div class="h2 mt0">
          <span *ngIf="amount.video != undefined">{{amount.video}}</span>
          <span *ngIf="amount.video == undefined">loading...</span>
        </div>
        <div class="text-uppercase">Video</div>
      </div>
      <div class="h-75"></div>
    </div>
  </div>
  <div class="col-lg-3 col-md-6 col-sm-12" routerLink="/dashboard/story">
    <!-- START widget-->
    <div class="panel widget bg-success-light pt b0 widget">
      <div class="ph">
        <em class="fa fa-book fa-2x pull-right"></em>
        <div class="h2 mt0">
          <span *ngIf="amount.story != undefined">{{amount.story}}</span>
          <span *ngIf="amount.story == undefined">loading...</span>
        </div>
        <div class="text-uppercase">Story</div>
      </div>
      <div class="h-75"></div>
    </div>
  </div>
</div>


<div class="row animated zoomIn amount">
  <div class="col-lg-3 col-sm-6" routerLink="/dashboard/photo">
    <!-- START widget-->
    <div class="panel bg-primary-light pt b0 widget">
      <div class="ph">
        <em class="fa fa-picture-o fa-2x pull-right"></em>
        <div class="h2 mt0">
          <span *ngIf="amount.photo != undefined">{{amount.photo}}</span>
          <span *ngIf="amount.photo == undefined">loading...</span>
        </div>
        <div class="text-uppercase">Photo</div>
      </div>
      <div class="h-75"></div>
    </div>
  </div>
  <div class="col-lg-3 col-sm-6" routerLink="/dashboard/music">
    <!-- START widget-->
    <div class="panel widget bg-purple-light pt b0 widget">
      <div class="ph">
        <em class="fa fa-music fa-2x pull-right"></em>
        <div class="h2 mt0">
          <span *ngIf="amount.music != undefined">{{amount.music}}</span>
          <span *ngIf="amount.music == undefined">loading...</span>
        </div>
        <div class="text-uppercase">Music</div>
      </div>
      <div class="h-75"></div>
    </div>
  </div>
  <div class="col-lg-3 col-md-6 col-sm-12" routerLink="/dashboard/video">
    <!-- START widget-->
    <div class="panel widget bg-info-light pt b0 widget">
      <div class="ph">
        <em class="fa fa-video-camera fa-2x pull-right"></em>
        <div class="h2 mt0">
          <span *ngIf="amount.video != undefined">{{amount.video}}</span>
          <span *ngIf="amount.video == undefined">loading...</span>
        </div>
        <div class="text-uppercase">Video</div>
      </div>
      <div class="h-75"></div>
    </div>
  </div>
  <div class="col-lg-3 col-md-6 col-sm-12" routerLink="/dashboard/story">
    <!-- START widget-->
    <div class="panel widget bg-success-light pt b0 widget">
      <div class="ph">
        <em class="fa fa-book fa-2x pull-right"></em>
        <div class="h2 mt0">
          <span *ngIf="amount.story != undefined">{{amount.story}}</span>
          <span *ngIf="amount.story == undefined">loading...</span>
        </div>
        <div class="text-uppercase">Story</div>
      </div>
      <div class="h-75"></div>
    </div>
  </div>
</div>


<div class="row animated zoomIn amount">
  <div class="col-lg-3 col-sm-6" routerLink="/dashboard/photo">
    <!-- START widget-->
    <div class="panel bg-primary-light pt b0 widget">
      <div class="ph">
        <em class="fa fa-picture-o fa-2x pull-right"></em>
        <div class="h2 mt0">
          <span *ngIf="amount.photo != undefined">{{amount.photo}}</span>
          <span *ngIf="amount.photo == undefined">loading...</span>
        </div>
        <div class="text-uppercase">Photo</div>
      </div>
      <div class="h-75"></div>
    </div>
  </div>
  <div class="col-lg-3 col-sm-6" routerLink="/dashboard/music">
    <!-- START widget-->
    <div class="panel widget bg-purple-light pt b0 widget">
      <div class="ph">
        <em class="fa fa-music fa-2x pull-right"></em>
        <div class="h2 mt0">
          <span *ngIf="amount.music != undefined">{{amount.music}}</span>
          <span *ngIf="amount.music == undefined">loading...</span>
        </div>
        <div class="text-uppercase">Music</div>
      </div>
      <div class="h-75"></div>
    </div>
  </div>
  <div class="col-lg-3 col-md-6 col-sm-12" routerLink="/dashboard/video">
    <!-- START widget-->
    <div class="panel widget bg-info-light pt b0 widget">
      <div class="ph">
        <em class="fa fa-video-camera fa-2x pull-right"></em>
        <div class="h2 mt0">
          <span *ngIf="amount.video != undefined">{{amount.video}}</span>
          <span *ngIf="amount.video == undefined">loading...</span>
        </div>
        <div class="text-uppercase">Video</div>
      </div>
      <div class="h-75"></div>
    </div>
  </div>
  <div class="col-lg-3 col-md-6 col-sm-12" routerLink="/dashboard/story">
    <!-- START widget-->
    <div class="panel widget bg-success-light pt b0 widget">
      <div class="ph">
        <em class="fa fa-book fa-2x pull-right"></em>
        <div class="h2 mt0">
          <span *ngIf="amount.story != undefined">{{amount.story}}</span>
          <span *ngIf="amount.story == undefined">loading...</span>
        </div>
        <div class="text-uppercase">Story</div>
      </div>
      <div class="h-75"></div>
    </div>
  </div>
</div>

<div class="row animated zoomIn amount">
  <div class="col-lg-3 col-sm-6" routerLink="/dashboard/photo">
    <!-- START widget-->
    <div class="panel bg-primary-light pt b0 widget">
      <div class="ph">
        <em class="fa fa-picture-o fa-2x pull-right"></em>
        <div class="h2 mt0">
          <span *ngIf="amount.photo != undefined">{{amount.photo}}</span>
          <span *ngIf="amount.photo == undefined">loading...</span>
        </div>
        <div class="text-uppercase">Photo</div>
      </div>
      <div class="h-75"></div>
    </div>
  </div>
  <div class="col-lg-3 col-sm-6" routerLink="/dashboard/music">
    <!-- START widget-->
    <div class="panel widget bg-purple-light pt b0 widget">
      <div class="ph">
        <em class="fa fa-music fa-2x pull-right"></em>
        <div class="h2 mt0">
          <span *ngIf="amount.music != undefined">{{amount.music}}</span>
          <span *ngIf="amount.music == undefined">loading...</span>
        </div>
        <div class="text-uppercase">Music</div>
      </div>
      <div class="h-75"></div>
    </div>
  </div>
  <div class="col-lg-3 col-md-6 col-sm-12" routerLink="/dashboard/video">
    <!-- START widget-->
    <div class="panel widget bg-info-light pt b0 widget">
      <div class="ph">
        <em class="fa fa-video-camera fa-2x pull-right"></em>
        <div class="h2 mt0">
          <span *ngIf="amount.video != undefined">{{amount.video}}</span>
          <span *ngIf="amount.video == undefined">loading...</span>
        </div>
        <div class="text-uppercase">Video</div>
      </div>
      <div class="h-75"></div>
    </div>
  </div>
  <div class="col-lg-3 col-md-6 col-sm-12" routerLink="/dashboard/story">
    <!-- START widget-->
    <div class="panel widget bg-success-light pt b0 widget">
      <div class="ph">
        <em class="fa fa-book fa-2x pull-right"></em>
        <div class="h2 mt0">
          <span *ngIf="amount.story != undefined">{{amount.story}}</span>
          <span *ngIf="amount.story == undefined">loading...</span>
        </div>
        <div class="text-uppercase">Story</div>
      </div>
      <div class="h-75"></div>
    </div>
  </div>
</div>

<div class="row animated zoomIn amount">
  <div class="col-lg-3 col-sm-6" routerLink="/dashboard/photo">
    <!-- START widget-->
    <div class="panel bg-primary-light pt b0 widget">
      <div class="ph">
        <em class="fa fa-picture-o fa-2x pull-right"></em>
        <div class="h2 mt0">
          <span *ngIf="amount.photo != undefined">{{amount.photo}}</span>
          <span *ngIf="amount.photo == undefined">loading...</span>
        </div>
        <div class="text-uppercase">Photo</div>
      </div>
      <div class="h-75"></div>
    </div>
  </div>
  <div class="col-lg-3 col-sm-6" routerLink="/dashboard/music">
    <!-- START widget-->
    <div class="panel widget bg-purple-light pt b0 widget">
      <div class="ph">
        <em class="fa fa-music fa-2x pull-right"></em>
        <div class="h2 mt0">
          <span *ngIf="amount.music != undefined">{{amount.music}}</span>
          <span *ngIf="amount.music == undefined">loading...</span>
        </div>
        <div class="text-uppercase">Music</div>
      </div>
      <div class="h-75"></div>
    </div>
  </div>
  <div class="col-lg-3 col-md-6 col-sm-12" routerLink="/dashboard/video">
    <!-- START widget-->
    <div class="panel widget bg-info-light pt b0 widget">
      <div class="ph">
        <em class="fa fa-video-camera fa-2x pull-right"></em>
        <div class="h2 mt0">
          <span *ngIf="amount.video != undefined">{{amount.video}}</span>
          <span *ngIf="amount.video == undefined">loading...</span>
        </div>
        <div class="text-uppercase">Video</div>
      </div>
      <div class="h-75"></div>
    </div>
  </div>
  <div class="col-lg-3 col-md-6 col-sm-12" routerLink="/dashboard/story">
    <!-- START widget-->
    <div class="panel widget bg-success-light pt b0 widget">
      <div class="ph">
        <em class="fa fa-book fa-2x pull-right"></em>
        <div class="h2 mt0">
          <span *ngIf="amount.story != undefined">{{amount.story}}</span>
          <span *ngIf="amount.story == undefined">loading...</span>
        </div>
        <div class="text-uppercase">Story</div>
      </div>
      <div class="h-75"></div>
    </div>
  </div>
</div>

<div class="row animated zoomIn amount">
  <div class="col-lg-3 col-sm-6" routerLink="/dashboard/photo">
    <!-- START widget-->
    <div class="panel bg-primary-light pt b0 widget">
      <div class="ph">
        <em class="fa fa-picture-o fa-2x pull-right"></em>
        <div class="h2 mt0">
          <span *ngIf="amount.photo != undefined">{{amount.photo}}</span>
          <span *ngIf="amount.photo == undefined">loading...</span>
        </div>
        <div class="text-uppercase">Photo</div>
      </div>
      <div class="h-75"></div>
    </div>
  </div>
  <div class="col-lg-3 col-sm-6" routerLink="/dashboard/music">
    <!-- START widget-->
    <div class="panel widget bg-purple-light pt b0 widget">
      <div class="ph">
        <em class="fa fa-music fa-2x pull-right"></em>
        <div class="h2 mt0">
          <span *ngIf="amount.music != undefined">{{amount.music}}</span>
          <span *ngIf="amount.music == undefined">loading...</span>
        </div>
        <div class="text-uppercase">Music</div>
      </div>
      <div class="h-75"></div>
    </div>
  </div>
  <div class="col-lg-3 col-md-6 col-sm-12" routerLink="/dashboard/video">
    <!-- START widget-->
    <div class="panel widget bg-info-light pt b0 widget">
      <div class="ph">
        <em class="fa fa-video-camera fa-2x pull-right"></em>
        <div class="h2 mt0">
          <span *ngIf="amount.video != undefined">{{amount.video}}</span>
          <span *ngIf="amount.video == undefined">loading...</span>
        </div>
        <div class="text-uppercase">Video</div>
      </div>
      <div class="h-75"></div>
    </div>
  </div>
  <div class="col-lg-3 col-md-6 col-sm-12" routerLink="/dashboard/story">
    <!-- START widget-->
    <div class="panel widget bg-success-light pt b0 widget">
      <div class="ph">
        <em class="fa fa-book fa-2x pull-right"></em>
        <div class="h2 mt0">
          <span *ngIf="amount.story != undefined">{{amount.story}}</span>
          <span *ngIf="amount.story == undefined">loading...</span>
        </div>
        <div class="text-uppercase">Story</div>
      </div>
      <div class="h-75"></div>
    </div>
  </div>
</div>


<div class="row animated zoomIn amount">
  <div class="col-lg-3 col-sm-6" routerLink="/dashboard/photo">
    <!-- START widget-->
    <div class="panel bg-primary-light pt b0 widget">
      <div class="ph">
        <em class="fa fa-picture-o fa-2x pull-right"></em>
        <div class="h2 mt0">
          <span *ngIf="amount.photo != undefined">{{amount.photo}}</span>
          <span *ngIf="amount.photo == undefined">loading...</span>
        </div>
        <div class="text-uppercase">Photo</div>
      </div>
      <div class="h-75"></div>
    </div>
  </div>
  <div class="col-lg-3 col-sm-6" routerLink="/dashboard/music">
    <!-- START widget-->
    <div class="panel widget bg-purple-light pt b0 widget">
      <div class="ph">
        <em class="fa fa-music fa-2x pull-right"></em>
        <div class="h2 mt0">
          <span *ngIf="amount.music != undefined">{{amount.music}}</span>
          <span *ngIf="amount.music == undefined">loading...</span>
        </div>
        <div class="text-uppercase">Music</div>
      </div>
      <div class="h-75"></div>
    </div>
  </div>
  <div class="col-lg-3 col-md-6 col-sm-12" routerLink="/dashboard/video">
    <!-- START widget-->
    <div class="panel widget bg-info-light pt b0 widget">
      <div class="ph">
        <em class="fa fa-video-camera fa-2x pull-right"></em>
        <div class="h2 mt0">
          <span *ngIf="amount.video != undefined">{{amount.video}}</span>
          <span *ngIf="amount.video == undefined">loading...</span>
        </div>
        <div class="text-uppercase">Video</div>
      </div>
      <div class="h-75"></div>
    </div>
  </div>
  <div class="col-lg-3 col-md-6 col-sm-12" routerLink="/dashboard/story">
    <!-- START widget-->
    <div class="panel widget bg-success-light pt b0 widget">
      <div class="ph">
        <em class="fa fa-book fa-2x pull-right"></em>
        <div class="h2 mt0">
          <span *ngIf="amount.story != undefined">{{amount.story}}</span>
          <span *ngIf="amount.story == undefined">loading...</span>
        </div>
        <div class="text-uppercase">Story</div>
      </div>
      <div class="h-75"></div>
    </div>
  </div>
</div>

<div class="row animated zoomIn amount">
  <div class="col-lg-3 col-sm-6" routerLink="/dashboard/photo">
    <!-- START widget-->
    <div class="panel bg-primary-light pt b0 widget">
      <div class="ph">
        <em class="fa fa-picture-o fa-2x pull-right"></em>
        <div class="h2 mt0">
          <span *ngIf="amount.photo != undefined">{{amount.photo}}</span>
          <span *ngIf="amount.photo == undefined">loading...</span>
        </div>
        <div class="text-uppercase">Photo</div>
      </div>
      <div class="h-75"></div>
    </div>
  </div>
  <div class="col-lg-3 col-sm-6" routerLink="/dashboard/music">
    <!-- START widget-->
    <div class="panel widget bg-purple-light pt b0 widget">
      <div class="ph">
        <em class="fa fa-music fa-2x pull-right"></em>
        <div class="h2 mt0">
          <span *ngIf="amount.music != undefined">{{amount.music}}</span>
          <span *ngIf="amount.music == undefined">loading...</span>
        </div>
        <div class="text-uppercase">Music</div>
      </div>
      <div class="h-75"></div>
    </div>
  </div>
  <div class="col-lg-3 col-md-6 col-sm-12" routerLink="/dashboard/video">
    <!-- START widget-->
    <div class="panel widget bg-info-light pt b0 widget">
      <div class="ph">
        <em class="fa fa-video-camera fa-2x pull-right"></em>
        <div class="h2 mt0">
          <span *ngIf="amount.video != undefined">{{amount.video}}</span>
          <span *ngIf="amount.video == undefined">loading...</span>
        </div>
        <div class="text-uppercase">Video</div>
      </div>
      <div class="h-75"></div>
    </div>
  </div>
  <div class="col-lg-3 col-md-6 col-sm-12" routerLink="/dashboard/story">
    <!-- START widget-->
    <div class="panel widget bg-success-light pt b0 widget">
      <div class="ph">
        <em class="fa fa-book fa-2x pull-right"></em>
        <div class="h2 mt0">
          <span *ngIf="amount.story != undefined">{{amount.story}}</span>
          <span *ngIf="amount.story == undefined">loading...</span>
        </div>
        <div class="text-uppercase">Story</div>
      </div>
      <div class="h-75"></div>
    </div>
  </div>
</div>

