
/* ========================================================================
     Component: HOME  
 ========================================================================== */

.m0 {
  margin: 0 !important; }

.ml0 {
  margin-left: 0 !important; }

.mr0 {
  margin-right: 0 !important; }

.mt0 {
  margin-top: 0 !important; }

.mb0 {
  margin-bottom: 0 !important; }

.m {
  margin: 10px !important; }

.ml, .mh {
  margin-left: 10px !important; }

.mr, .mh {
  margin-right: 10px !important; }

.mt, .mv {
  margin-top: 10px !important; }

.mb, .mv {
  margin-bottom: 10px !important; }

.m-sm {
  margin: 5px !important; }

.ml-sm, .mh-sm {
  margin-left: 5px !important; }

.mr-sm, .mh-sm {
  margin-right: 5px !important; }

.mt-sm, .mv-sm {
  margin-top: 5px !important; }

.mb-sm, .mv-sm {
  margin-bottom: 5px !important; }

.m-lg {
  margin: 15px !important; }

.ml-lg, .mh-lg {
  margin-left: 15px !important; }

.mr-lg, .mh-lg {
  margin-right: 15px !important; }

.mt-lg, .mv-lg {
  margin-top: 15px !important; }

.mb-lg, .mv-lg {
  margin-bottom: 15px !important; }

.m-xl {
  margin: 30px !important; }

.ml-xl {
  margin-left: 30px !important; }

.mr-xl {
  margin-right: 30px !important; }

.mt-xl {
  margin-top: 30px !important; }

.mb-xl {
  margin-bottom: 30px !important; }

.p0 {
  padding: 0 !important; }

.pl0, .ph0 {
  padding-left: 0 !important; }

.pr0, .ph0 {
  padding-right: 0 !important; }

.pt0, .pv0 {
  padding-top: 0 !important; }

.pb0, .pv0 {
  padding-bottom: 0 !important; }

.p {
  padding: 10px !important; }

.pl, .ph {
  padding-left: 10px !important; }

.pr, .ph {
  padding-right: 10px !important; }

.pt, .pv {
  padding-top: 10px !important; }

.pb, .pv {
  padding-bottom: 10px !important; }

.p-sm {
  padding: 5px !important; }

.pl-sm, .ph-sm {
  padding-left: 5px !important; }

.pr-sm, .ph-sm {
  padding-right: 5px !important; }

.pt-sm, .pv-sm {
  padding-top: 5px !important; }

.pb-sm, .pv-sm {
  padding-bottom: 5px !important; }

.p-lg {
  padding: 15px !important; }

.pl-lg, .ph-lg {
  padding-left: 15px !important; }

.pr-lg, .ph-lg {
  padding-right: 15px !important; }

.pt-lg, .pv-lg {
  padding-top: 15px !important; }

.pb-lg, .pv-lg {
  padding-bottom: 15px !important; }

.p-xl {
  padding: 30px !important; }

.pl-xl, .ph-xl {
  padding-left: 30px !important; }

.pr-xl, .ph-xl {
  padding-right: 30px !important; }

.pt-xl, .pv-xl {
  padding-top: 30px !important; }

.pb-xl, .pv-xl {
  padding-bottom: 30px !important; }

.b0 {
  border-width: 0 !important; }

.bl0 {
  border-left-width: 0 !important; }

.br0 {
  border-right-width: 0 !important; }

.bt0 {
  border-top-width: 0 !important; }

.bb0 {
  border-bottom-width: 0 !important; }

.br, .b, .ba {
  border-right: 1px solid rgba(0, 0, 0, 0.12); }

.bl, .b, .ba {
  border-left: 1px solid rgba(0, 0, 0, 0.12); }

.bt, .b, .ba {
  border-top: 1px solid rgba(0, 0, 0, 0.12); }

.bb, .b, .ba {
  border-bottom: 1px solid rgba(0, 0, 0, 0.12); }

.radius-clear {
  border-radius: 0 !important; }

.shadow-clear {
  box-shadow: 0 0 0 #000 !important; }




  /*home*/

.bg-primary {
  background-color: #5d9cec;
  color: #fff !important; }

.bg-primary-light {
  background-color: #8bb8f1;
  color: #fff !important; }

.bg-primary-dark {
  background-color: #2f80e7;
  color: #fff !important; }

.bg-primary small {
  color: inherit; }

.bg-success {
  background-color: #27c24c;
  color: #fff !important; }

.bg-success-light {
  background-color: #43d967;
  color: #fff !important; }

.bg-success-dark {
  background-color: #1e983b;
  color: #fff !important; }

.bg-success small {
  color: inherit; }

.bg-info {
  background-color: #23b7e5;
  color: #fff !important; }

.bg-info-light {
  background-color: #51c6ea;
  color: #fff !important; }

.bg-info-dark {
  background-color: #1797be;
  color: #fff !important; }

.bg-info small {
  color: inherit; }

.bg-warning {
  background-color: #ff902b;
  color: #fff !important; }

.bg-warning-light {
  background-color: #ffab5e;
  color: #fff !important; }

.bg-warning-dark {
  background-color: #f77600;
  color: #fff !important; }

.bg-warning small {
  color: inherit; }

.bg-danger {
  background-color: #f05050;
  color: #fff !important; }

.bg-danger-light {
  background-color: #f47f7f;
  color: #fff !important; }

.bg-danger-dark {
  background-color: #ec2121;
  color: #fff !important; }

.bg-danger small {
  color: inherit; }

.bg-green {
  background-color: #37bc9b;
  color: #fff !important; }

.bg-green-light {
  background-color: #58ceb1;
  color: #fff !important; }

.bg-green-dark {
  background-color: #2b957a;
  color: #fff !important; }

.bg-green small {
  color: inherit; }

.bg-pink {
  background-color: #f532e5;
  color: #fff !important; }

.bg-pink-light {
  background-color: #f763eb;
  color: #fff !important; }

.bg-pink-dark {
  background-color: #e90bd6;
  color: #fff !important; }

.bg-pink small {
  color: inherit; }

.bg-purple {
  background-color: #7266ba;
  color: #fff !important; }

.bg-purple-light {
  background-color: #9289ca;
  color: #fff !important; }

.bg-purple-dark {
  background-color: #564aa3;
  color: #fff !important; }

.bg-purple small {
  color: inherit; }

.bg-inverse {
  background-color: #131e26;
  color: #fff !important; }

.bg-inverse-light {
  background-color: #243948;
  color: #fff !important; }

.bg-inverse-dark {
  background-color: #020304;
  color: #fff !important; }

.bg-inverse small {
  color: inherit; }

.bg-yellow {
  background-color: #fad732;
  color: #fff !important; }

.bg-yellow-light {
  background-color: #fbe164;
  color: #fff !important; }

.bg-yellow-dark {
  background-color: #f3ca06;
  color: #fff !important; }

.bg-yellow small {
  color: inherit; }

.bg-white {
  background-color: #fff;
  color: inherit !important; }

.bg-gray-darker {
  background-color: #232735;
  color: #fff !important; }

.bg-gray-dark {
  background-color: #3a3f51;
  color: #fff !important; }

.bg-gray {
  background-color: #dde6e9;
  color: #515253 !important; }

.bg-gray-light {
  background-color: #e4eaec;
  color: #515253 !important; }

.bg-gray-lighter {
  background-color: #edf1f2;
  color: #515253 !important; }

.bg-transparent {
  background-color: transparent !important; }

.bg-cover {
  background-size: cover; }



  

