.fondo {
    --ion-background-color: #0f0f0f;
}

.title{
    font-size:17px;
    color:white;
    font-weight: bolder;
}
.login-box {
    padding: 10px ;
    margin-top: 15px;
    background-color: rgba(255, 255, 255, 0.3);
    border-radius: 17px 17px 17px 17px;
    //opacity: 0.3;
    //filter: alpha(opacity=60);
}
.font{
    font-size: 15px;
    color: rgba(255, 255, 255, 0.8);
}
.error-message
{
  color:rgba(211, 37, 37, 0.8);
  font-size: 10px;
  margin: 0;
  padding: 0;
}

.mag {
    margin-top: 17px;
    padding-left: 5px;
}

ion-toolbar {
    background-color:#0f0f0f;
}