<ion-header>
  <ion-toolbar color="shade">
    <ion-title text-center class="title">Restablecer Contraseña</ion-title>
    <ion-buttons slot="start">
      <ion-back-button color="light" text=""></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content class="fondo" padding>
  <form [formGroup]="reset_form" (ngSubmit)="resetPass()">
    <ion-row class="justify-content-between">
      <ion-col class="ion-align">
        <ion-text class="font">
          Te enviaremos un correo a tu email con un link de reestablecimiento de contraseña
        </ion-text>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <div class="login-box">
          <ion-item color="login" class="font">
            <ion-label position="floating">Email</ion-label>
            <ion-input type="text" formControlName="email" name="email" required></ion-input>
          </ion-item>
          <div class="validation-errors" *ngFor="let validation of validation_messages.email">
            <span class="error-message" *ngIf="reset_form.get('email').hasError(validation.type) 
                            && (reset_form.get('email').dirty || 
                            reset_form.get('email').touched)">
              <ion-icon class="error-message" name="information-circle-outline"></ion-icon> {{ validation.message }}
            </span>
          </div>
        </div>
      </ion-col>
    </ion-row>
    <ion-button type="submit" [disabled]="!reset_form.valid" color="light" shape="round" expand="full" fill="solid"
      class="log-in">ENVIAR</ion-button>
  </form>
</ion-content>