<ion-header>
  <ion-toolbar color="shade">
    <ion-menu-button slot="start" color="light" autoHide="false"></ion-menu-button>
    <ion-title text-center class="title">Dietas</ion-title>
    <ion-buttons slot="start">
      <ion-back-button color="light" text=""></ion-back-button>
    </ion-buttons>
    <a slot="end" routerLink="/news">
      <ion-icon color="light" name="notifications-outline"></ion-icon>
    </a>
  </ion-toolbar>
</ion-header>

<ion-content padding class="card-background-page">
  <ion-list>
    <ion-item-divider class="ion-no-padding">
      <ion-label color="light" class="title">
        DIETA DEL DÍA
      </ion-label>
    </ion-item-divider>
    <ion-row>
      <ion-col class="ion-no-padding">
        <ion-card routerLink="/dietas/dieta" class="ion-no-padding ion-no-margin">
          <img class="imgc" src="../../../assets/video/collage.jpg" />
          <div class="card-title">Nombre Receta</div>
          <div class="card-subtitle">Algo extra</div>
        </ion-card>
      </ion-col>
    </ion-row>
    <ion-item-divider>
      <ion-label color="light">
        DESAYUNO
      </ion-label>
    </ion-item-divider>
    <ion-slides [options]="sliderConfig">
      <ion-slide *ngFor="let num of list">
        <ion-card>
          <ion-card-header>
            <ion-card-subtitle color="dark">Card Subtitle</ion-card-subtitle>
            <ion-card-content no-padding>
              <img class="imgs" src="../../../assets/video/slides.jpg" />
            </ion-card-content>
          </ion-card-header>
        </ion-card>
      </ion-slide>
    </ion-slides>
    <ion-item-divider>
      <ion-label color="light">
        ALMUERZO
      </ion-label>
    </ion-item-divider>
    <ion-slides [options]="sliderConfig">
      <ion-slide *ngFor="let num of list">
        <ion-card>
          <ion-card-header>
            <ion-card-subtitle color="dark">Card Subtitle</ion-card-subtitle>
            <ion-card-content no-padding>
              <img class="imgs" src="../../../assets/video/slides.jpg" />
            </ion-card-content>
          </ion-card-header>
        </ion-card>
      </ion-slide>
    </ion-slides>
    <ion-item-divider>
      <ion-label color="light">
        CENA
      </ion-label>
    </ion-item-divider>
    <ion-slides [options]="sliderConfig">
      <ion-slide *ngFor="let num of list">
        <ion-card>
          <ion-card-header>
            <ion-card-subtitle color="dark">Card Subtitle</ion-card-subtitle>
            <ion-card-content no-padding>
              <img class="imgs" src="../../../assets/video/slides.jpg" />
            </ion-card-content>
          </ion-card-header>
        </ion-card>
      </ion-slide>
    </ion-slides>
  </ion-list>

</ion-content>