ion-icon{
    font-size: 30px;
}
ion-toolbar {
    background-color:#0f0f0f;
}

.font {
    font-weight:bolder;
}

.card-title {
    position: absolute;
    top: 36%;
    font-size: 2.0em;
    width: 100%;
    font-weight: bold;
    color: #fff;
}

.card-subtitle {
    font-size: 1.0em;
    position: absolute;
    top: 52%;
    width: 100%;
    color: #fff;
}

.imgc {
    height: 240px;
}

.title{
    font-size:17px;
    color:white;
    font-weight: bolder;
}

.background1 {
    background-color:#808da5b7;
}

ion-label, h2, h3 {
    color: white;
    font-size: 15px;
    font-weight: bold;
}