<ion-header >
    <ion-toolbar color="shade">
        <ion-menu-button slot="start" color="light" autoHide="false"></ion-menu-button>
        <ion-title text-center class="title">Entrenamientos</ion-title>
        <ion-buttons slot="start">
            <ion-back-button color="light" text=""></ion-back-button>
        </ion-buttons>
        <a slot="end" routerLink="/news">
            <ion-icon color="light" name="notifications-outline"></ion-icon>
        </a>
    </ion-toolbar>
</ion-header>

<ion-content class="fondo">
    <ion-card routerLink="/calculadora" class="ion-no-padding ion-margin-top">
        <img class="imgc" src="../../../assets/video/app_centr.jpg" />
        <div class="card-title ion-padding-start">CALCULADORA </div>
        <div class="card-subtitle ion-padding-start">Algo extra</div>
    </ion-card>
    <ion-card routerLink="/ejertipos" class="ion-no-padding ion-margin-top">
        <img class="imgc" src="../../../assets/video/unnamed.png" />
        <div class="card-title ion-padding-start">ENTRENAMIENTOS</div>
        <div class="card-subtitle ion-padding-start">Algo extra</div>
    </ion-card>

</ion-content>