ion-slide{
    font-size: 15px;
    color: white;
}
ion-toolbar {
    background-color:#0f0f0f;
}

.fondo {
    --ion-background-color: #0f0f0f;
    // background-color:black;
}

ion-label, h2, h3 {
    color: white;
    font-size: 15px;
    font-weight: bold;
}

.title{
    font-size:17px;
    color:white;
    font-weight: bolder;
}



.background1 {
    background-color:#858b96b7;
}

p {
    // color: #62676db7;
    color: #c2dfe0b7;
}