<ion-header >
  <ion-toolbar>
    <ion-title text-center class="title">Entrenamientos</ion-title>
    <ion-buttons slot="start">
      <ion-back-button color="light" text=""></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="fondo">
  <ion-segment scrollable color="warning">
    <ion-segment-button checked>
      <ion-label>Tonificar</ion-label>
    </ion-segment-button>
    <ion-segment-button>
      <ion-label>Perder Peso</ion-label>
    </ion-segment-button>
    <ion-segment-button>
      <ion-label>Ponerse en Forma</ion-label>
    </ion-segment-button>
    <ion-segment-button>
      <ion-label>Individuales</ion-label>
    </ion-segment-button>
    <ion-segment-button>
      <ion-label>Abdomen</ion-label>
    </ion-segment-button>
    <ion-segment-button>
      <ion-label>Elongacion</ion-label>
    </ion-segment-button>
  </ion-segment>
</ion-content>