<ion-header class="fondo">
  <ion-toolbar>
    <ion-title text-center class="title">ejertipos</ion-title>
    <ion-buttons slot="start">
      <ion-back-button color="light" text=""></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="fondo">
  <ion-slides [options]="sliderConfig" paginationType="progress">
    <ion-slide class="ion-padding-bottom ">Tonificar</ion-slide>
    <ion-slide class="ion-padding-bottom ">Perder Peso</ion-slide>
    <ion-slide class="ion-padding-bottom ">Ponerse en Forma</ion-slide>
    <ion-slide class="ion-padding-bottom ">Ejercicios Individuales</ion-slide>
    <ion-slide class="ion-padding-bottom ">Abdomen</ion-slide>
    <ion-slide class="ion-padding-bottom ">Elongación</ion-slide>
  </ion-slides>
</ion-content>
