ion-slide{
    font-size: 15px;
    color: white;
}
ion-toolbar {
    background-color:#0f0f0f;
}

.fondo {
    --ion-background-color: #0f0f0f;
    //background-color:black;
}

ion-label {
    color: white;
    font-size: 15px;
    font-weight: bold;
}

.title{
    font-size:17px;
    color:white;
    font-weight: bolder;
}



.background1 {
    background-color:#969aaa;
}