<div class="main-content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-8">
        <div class="card">
          <div class="card-header card-header-primary">
            <h4 class="card-title">Editar Perfil</h4>
            <p class="card-category">Actualiza tu perfil</p>
          </div>
          <div class="card-body">
            <form>
              <div class="row">

                <div class="col-md-8">
                  <mat-form-field class="example-full-width">
                    <input matInput placeholder="Username" name="nombres" [(ngModel)]="about.nombre"
                      [disabled]="disabledForm" #user="ngModel" required maxlength="50" #input>
                    <mat-hint align="end">{{input.value?.length || 0}}/50</mat-hint>
                    <mat-icon matSuffix *ngIf="new == true">mode_edit</mat-icon>
                    <!--MSJ ERROR USERNAME-->
                    <mat-error *ngIf="user.errors && (user.dirty || user.touched)">
                      <span *ngIf="user.errors.required">Este campo no puede estar vacío</span>
                    </mat-error>
                  </mat-form-field>
                </div>
                <div class="col-md-4">
                  <mat-form-field class="example-full-width">
                    <input matInput placeholder="Email address" type="email" name="email" [(ngModel)]="contacto.email"
                      [disabled]="disabledForm" #email="ngModel" required email>
                    <mat-icon matSuffix *ngIf="new == true">mode_edit</mat-icon>
                    <!--MSJ ERROR EMAIL-->
                    <mat-error *ngIf="email.errors && (email.dirty || email.touched)">
                      <span *ngIf="email.errors.required">Este campo no puede estar vacío</span>
                      <span *ngIf="email.errors.email">Ingrese un email válido</span>
                    </mat-error>
                  </mat-form-field>

                </div>
              </div>


              <div class="row">
                <div class="col-md-8">
                  <mat-form-field class="example-full-width">
                    <input matInput placeholder="Direccion" type="text" name="direccion"
                      [(ngModel)]="contacto.direccion" [disabled]="disabledForm" #direc="ngModel" required
                      maxlength="100" #input1>
                    <mat-hint align="end">{{input1.value?.length || 0}}/100</mat-hint>
                    <mat-icon matSuffix *ngIf="new == true">mode_edit</mat-icon>
                    <!--MSJ ERROR DIRECCION-->
                    <mat-error *ngIf="direc.errors && (direc.dirty || direc.touched)">
                      <span *ngIf="direc.errors.required">Este campo no puede estar vacío</span>
                    </mat-error>
                  </mat-form-field>
                </div>
                <div class="col-md-4">
                  <mat-form-field class="example-full-width">
                    <input matInput placeholder="Telefono" type="text" name="telefono" [(ngModel)]="contacto.telefono"
                      [disabled]="disabledForm" #telf="ngModel" required pattern="[0-9]{10}">
                    <mat-icon matSuffix *ngIf="new == true">mode_edit</mat-icon>
                    <!--MSJ ERROR TELEFONO-->
                    <mat-error *ngIf="telf.errors && (telf.dirty || telf.touched)">
                      <span *ngIf="telf.errors.required">Este campo no puede estar vacío</span>
                      <span *ngIf="telf.errors.pattern">Un número de teléfono válido debe tener 10
                        digitos</span>
                    </mat-error>
                  </mat-form-field>
                </div>
              </div>
              <div class="row">
                <div class="col-md-4">
                  <mat-form-field class="example-full-width">
                    <input matInput placeholder="facebook" type="text" name="facebook" [(ngModel)]="contacto.facebook"
                      [disabled]="disabledForm" #fb="ngModel" required maxlength="15" #input2>
                    <mat-hint align="end">{{input2.value?.length || 0}}/15</mat-hint>
                    <mat-icon matSuffix *ngIf="new == true">mode_edit</mat-icon>
                    <!--MSJ ERROR FB-->
                    <mat-error *ngIf="fb.errors && (fb.dirty || fb.touched)">
                      <span *ngIf="inst.errors.required">Este campo no puede estar vacío</span>
                    </mat-error>
                  </mat-form-field>
                </div>
                <div class="col-md-4">
                  <mat-form-field class="example-full-width">
                    <input matInput placeholder="instagram" type="text" name="instagram"
                      [(ngModel)]="contacto.instagram" [disabled]="disabledForm" #inst="ngModel" required maxlength="15"
                      #input3>
                    <mat-hint align="end">{{input3.value?.length || 0}}/15</mat-hint>
                    <mat-icon matSuffix *ngIf="new == true">mode_edit</mat-icon>
                    <!--MSJ ERROR INSTAGRAM-->
                    <mat-error *ngIf="inst.errors && (inst.dirty || inst.touched)">
                      <span *ngIf="inst.errors.required">Este campo no puede estar vacío</span>
                    </mat-error>
                  </mat-form-field>
                </div>
                <div class="col-md-4">
                  <mat-form-field class="example-full-width">
                    <input matInput placeholder="twitter" type="text" name="twitter" [(ngModel)]="contacto.twitter"
                      [disabled]="disabledForm" #twt="ngModel" maxlength="15" required #input4>
                    <mat-hint align="end">{{input4.value?.length || 0}}/15</mat-hint>
                    <mat-icon matSuffix *ngIf="new == true">mode_edit</mat-icon>
                    <!--MSJ ERROR TWITTER-->
                    <mat-error *ngIf="twt.errors && (twt.dirty || twt.touched)">
                      <span *ngIf="twt.errors.required">Este campo no puede estar vacío</span>
                    </mat-error>
                  </mat-form-field>
                </div>
              </div>
              <div class="row">
                <div class="col-md-12">

                  <mat-form-field class="example-full-width">
                    <textarea matInput placeholder="Experiencia" name="experiencia" [(ngModel)]="about.experiencia"
                      [disabled]="disabledForm" #exp="ngModel" required maxlength="256" #input5> </textarea>
                    <mat-hint align="end">{{input5.value?.length || 0}}/256</mat-hint>
                    <mat-icon matSuffix *ngIf="new == true">mode_edit</mat-icon>
                    <!--MSJ ERROR EXPERIENCIA-->
                    <mat-error *ngIf="exp.errors && (exp.dirty || exp.touched)">
                      <span *ngIf="exp.errors.required">Este campo no puede estar vacío</span>
                    </mat-error>
                  </mat-form-field>
                </div>
              </div>

              <div class="row">
                <div class="col-md-12">
                  <button mat-button color="warn" (click)="onClick()" type="button" *ngIf="new == true">
                    <mat-icon>file_upload</mat-icon>
                    {{text}} ({{files.length}}) (requerido)*
                  </button>
                  <button mat-button color="warn" (click)="onClick()" type="button" *ngIf="new == false">
                      <mat-icon>file_upload</mat-icon>
                      Actualizar imagen ({{files.length}})
                    </button>
                  <br />
                  <ul>
                    <li *ngFor="let file of files" [@fadeInOut]="file.state">
                      <mat-progress-bar [value]="file.progress"></mat-progress-bar>
                      <span id="file-label">
                        {{file.data.name}}
                        <a title="Retry" (click)="retryFile(file)" *ngIf="file.canRetry">
                          <mat-icon>refresh</mat-icon>
                        </a>
                        <a title="Cancel" (click)="cancelFile(file)" *ngIf="file.canCancel">
                          <mat-icon>cancel</mat-icon>
                        </a>
                      </span>
                    </li>
                  </ul>
                  <input type="file" id="fileUpload" name="fileUpload" multiple="multiple" accept="{{accept}}"
                    style="display:none;" />

                </div>
              </div>


              <button mat-raised-button type="submit" class="btn btn-primary pull-right" (click)='editarForm()'
                *ngIf="new == false">{{titleEdit}}</button>
              <button mat-raised-button type="submit" class="btn btn-primary pull-right" (click)='actualizar()'
                *ngIf="new == true" [disabled]='btnUpdate'>{{titleEdit}}</button>
              <div class="clearfix"></div>
            </form>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card card-profile">
          <div class="card-avatar">
            <a href="#pablo">
              <img class="img" [src]="about.imagen" />
            </a>
          </div>
          <div class="card-body">
            <h6 class="card-category text-gray">CEO / Co-Founder</h6>
            <h4 class="card-title">{{about.nombre}}</h4>
            <p class="card-description">
              {{about.experiencia}}
            </p>
            <!--<a href="#pablo" class="btn btn-primary btn-round">Follow</a>-->
          </div>
        </div>
      </div>
    </div>
  </div>
</div>