<ion-content padding >
    <ion-icon padding-top name="arrow-back" routerLink="/slide"></ion-icon>
    <h1 text-center>LOG IN</h1>
    <ion-img src="../assets/icon/logo.png"></ion-img>
      <form >
        <ion-row >
          <ion-col>
            <div class="login-box">
                <ion-item color="login" class="font">
                    <ion-label position="floating">Email or Username</ion-label>
                    <ion-input type="text" [(ngModel)]="email" name="email" required></ion-input>
                </ion-item>
            </div>
            <div class="login-box">
                <ion-item color="login" class="font">
                    <ion-label  position="floating">Password</ion-label>
                    <ion-input type="password" [(ngModel)]="password" name="password" required></ion-input>
                </ion-item>
            </div>
              
          </ion-col>
        </ion-row >
        <ion-row padding-bottom >
          <ion-col size=12 class="ion-margin-top ion-text-center ">
              <ion-button (click)='loginFire()' color="dark" shape="round" expand="full" fill="outline" class="log-in">LOG IN</ion-button>
              <ion-note class="text">Restablecer Contraseña</ion-note>
            </ion-col>
        </ion-row>
        <ion-row>
            <ion-col size=6  >
              <ion-button (click)="loginFB()" color="primary" shape="round" expand="full" fill="solid" class="log-in-social">FACEBOOK</ion-button>  
            </ion-col>
            <ion-col size=6  >
              <ion-button (click)="loginGP()" color="danger" shape="round" expand="full" fill="solid" class="log-in-social">GOOGLE</ion-button>
            </ion-col>
        </ion-row>
      </form>
      <div class="ion-text-center">
          <ion-note>¿AÚN NO ERES MIEMBRO?</ion-note><ion-note class="text" click="/login"> ¡ÚNETE YA!</ion-note>
      </div>
      

</ion-content>
