<ion-content padding>
  <ion-icon padding-top name="arrow-back" routerLink="/slide"></ion-icon>
  <h1 text-center>LOG IN</h1>
  <ion-img src="../assets/icon/logo.png"></ion-img>
  <form [formGroup]="login_form" (ngSubmit)="loginFire()">
    <ion-row>
      <ion-col>
        <div class="login-box">
          <ion-item color="login" class="font">
            <ion-label position="floating">Email</ion-label>
            <ion-input type="text" formControlName="email" name="email" required ></ion-input>
          </ion-item>
          <div class="validation-errors" *ngFor="let validation of validation_messages.email">
            <span class="error-message" *ngIf="login_form.get('email').hasError(validation.type) 
                          && (login_form.get('email').dirty || 
                          login_form.get('email').touched)">
              <ion-icon class="error-message" name="information-circle-outline"></ion-icon> {{ validation.message }}
            </span>
          </div>
        </div>
        <div class="login-box">
          <ion-item color="login" class="font">
            <ion-label position="floating">Password</ion-label>
            <ion-input type="password" formControlName="password" name="password" required></ion-input>
          </ion-item>
          <div class="validation-errors" *ngFor="let validation of validation_messages.password">
            <span class="error-message" *ngIf="login_form.get('password').hasError(validation.type) 
                        && (login_form.get('password').dirty || 
                        login_form.get('password').touched)">
              <ion-icon class="error-message" name="information-circle-outline"></ion-icon> {{ validation.message }}
            </span>
          </div>
        </div>

      </ion-col>
    </ion-row>
    <ion-row padding-bottom>
      <ion-col size=12 class="ion-margin-top ion-text-center ">
        <ion-button type="submit" [disabled]="!login_form.valid" color="dark" shape="round" expand="full" fill="outline"
          class="log-in">LOG IN</ion-button>
        <ion-note class="text" routerLink="/reset-password">Restablecer Contraseña</ion-note>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size=6>
        <ion-button (click)="loginFB()" color="primary" shape="round" expand="full" fill="solid" class="log-in-social">
          FACEBOOK</ion-button>
      </ion-col>
      <ion-col size=6>
        <ion-button (click)="loginGP()" color="danger" shape="round" expand="full" fill="solid" class="log-in-social">
          GOOGLE</ion-button>
      </ion-col>
    </ion-row>
  </form>
  <div class="ion-text-center">
    <ion-note>¿AÚN NO ERES MIEMBRO?</ion-note>
    <ion-note class="text" routerLink="/registro/gender"> ¡ÚNETE YA!</ion-note>
  </div>


</ion-content>