<div class="main-content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12">
                    <div class="card">
                        <div class="card-header card-header-primary">
                            <h4 class="card-title ">Entrenamiento</h4>
                        </div>
                        <div class="card-body">
                          
                            <div class="row row-1 animated fadeInRight">
    
    
                                    <div class="card-body">

                                            <h5 class="card-title" style="margin-bottom: 0px;"><strong>Datos del entrenamiento</strong></h5>
                                              
                                            <p style="margin-bottom: 0px;"><strong>Deportista: {{planEntrenamiento.deportista.nombre}} {{planEntrenamiento.deportista.apellido}}</strong></p>
                                            
                                           
                                        </div>
                          
                            </div>
    
                            <hr>
                            <div class="row">
          <div class="col-lg-3 col-md-6 col-sm-6" *ngFor="let item of listSemanas; let i=index">
              <div class="card card-stats">
                  <div class="card-header card-header-{{color[i]}} card-header-icon">
                      <div class="card-icon">
                          <i class="material-icons">today</i>
                          <small>{{item.semana | uppercase}}</small>
                      </div>
                      <p class="card-category">{{item.rutina}}</p>
                      <!--<h3 class="card-title">49/50
                          <small>EJERCICIOS</small>
                      </h3>-->
                  </div>
                  <!--<div class="card-footer">
                      <div class="stats">
                          <i class="material-icons text-danger">directions_run</i>
                          <a >Dificultad</a>
                      </div>
                  </div>-->
              </div>
          </div>
      </div>

                            

                        </div>
                    </div>
                </div>

                   
         
            </div>
                 
      </div>
</div>