<div class="main-content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12">
                    <div class="card">
                        <div class="card-header card-header-primary">
                            <h4 class="card-title ">Entrenamiento</h4>
                        </div>
                        <div class="card-body">
                          
                            <div class="row row-1 animated fadeInRight">
    
    
                                    <div class="card-body">

                                            <h5 class="card-title" style="margin-bottom: 0px;"><strong>Datos del entrenamiento</strong></h5>
                                              
                                            <p style="margin-bottom: 0px;"><strong>Deportista: {{planEntrenamiento.deportista.nombre}} {{planEntrenamiento.deportista.apellido}}</strong></p>
                                            
                                           
                                        </div>
                          
                            </div>
    
                            <hr>

                            

                        </div>
                    </div>
                </div>
         
            </div>
        </div>
    </div>