<div class="main-content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12">
                    <div class="card">
                        <div class="card-header card-header-primary">
                            <h4 class="card-title ">Entrenamiento</h4>
                        </div>
                        <div class="card-body">
                          
                            <div class="row row-1 animated fadeInRight">
    
    
                                    <div class="card-body">

                                            <h5 class="card-title" style="margin-bottom: 0px;"><strong>Datos del entrenamiento</strong></h5>
                                              
                                         
              
                                            <p style="margin-bottom: 0px;"><strong>Deportista: {{planEntrenamiento.deportista.nombre}} {{planEntrenamiento.deportista.apellido}}</strong></p>
                                            
              
              
                                        </div>
                          
                            </div>
    
                            <hr>


                            <div class="row row-1 animated fadeInRight" >

                                <table class="table">
                                            <thead class="thead-light">
                                              <tr>
                                                <th scope="col">LUNES</th>
                                                <th scope="col">MARTES</th>
                                                <th scope="col">MIERCOLES</th>
                                                <th scope="col">JUEVES</th>
                                                <th scope="col">VIERNES</th>
                                                <th scope="col">SABADO</th>
                                                <th scope="col">DOMINGO</th>
                                              </tr>
                                            </thead>
                                            <tbody>
                                              <tr *ngFor="let item of planEntrenamiento.rutinas; let i = index">
                                                <td>{{entrenamiento[i][0]['valor']}}</td>
                                                <td>{{entrenamiento[i][1]['valor']}}</td>
                                                <td>{{entrenamiento[i][2]['valor'] }}</td>
                                                <td>{{entrenamiento[i][3]['valor'] }}</td>
                                                <td>{{entrenamiento[i][4]['valor']}}</td>
                                                <td>{{entrenamiento[i][5]['valor']}}</td>
                                                <td>{{entrenamiento[i][6]['valor']}}</td>
                                              </tr>
                                        
                                            </tbody>
                                </table>
                            
                            </div>
    
                     
                        
                        </div>
                    </div>
                </div>
         
            </div>
        </div>
    </div>