<!-- Portfolio Grid Section -->
<section class="portfolio" id="services">
    <div class="container">
      <h2 class="text-center text-uppercase text-secondary mb-0">Servicios</h2>
      <hr class="star-dark mb-5">
      <div class="row">
        <div class="col-md-6 col-lg-6">
          <a class="portfolio-item d-block mx-auto">
            <div class="portfolio-item-caption d-flex position-absolute h-100 w-100">
              <div class="portfolio-item-caption-content my-auto w-100 text-center text-white ">
                Entrenamiento Personalizado
                <ul class="news text-secondary text-justify"><li>Evaluacion de la condición física y de salud</li>
                <li>Programa de ejercicios adaptados a los objetivos de la persona</li>
                <li>Atención personalizada durante cada sesión</li>
                <li>Asesorías on-line y presencial</li>
                <li>seguimiento</li></ul>
              </div>
            </div>
            <img class="img-fluid" src="../../../assets/img/servicios/ep.png" alt="Entrenamiento Personalizado">
          </a>
        </div>
        <div class="col-md-6 col-lg-6">
          <a class="portfolio-item d-block mx-auto" >
            <div class="portfolio-item-caption d-flex position-absolute h-100 w-100">
              <div class="portfolio-item-caption-content my-auto w-100 text-center text-white">
                Preparacion Fisica Deportiva
                <ul class="news text-secondary text-justify"><li>Atletas élites o amateurs</li>
                <li>Equipos deportivos profesionales o amateurs</li>
                <li>Escuelas deportivas</li>
                <li>Evaluacion del rendimiento</li>
                <li>Programa preventivo de lesiones</li></ul>
              </div>
            </div>
            <img class="img-fluid" src="../../../assets/img/servicios/prefi.jpg" alt="Preparacion fisica deportiva">
          </a>
        </div>
        <div class="col-md-6 col-lg-6">
          <a class="portfolio-item d-block mx-auto" >
            <div class="portfolio-item-caption d-flex position-absolute h-100 w-100">
              <div class="portfolio-item-caption-content my-auto w-100 text-center text-white">
                Docente - Instructor
                <ul class="news text-secondary text-justify"><li>Temas de: Coaching deportivo, Deporte,entrenamiento deportivo, salud, preparación física deportiva, educación física.</li>
                <li>Dirigido a eventos académicos, Seminarios, Talleres, Cursos, Certificaciones </li></ul>
              </div>
            </div>
            <img class="img-fluid" src="../../../assets/img/servicios/doc.jpg" alt="Docente/Instructor">
          </a>
        </div>
        <div class="col-md-6 col-lg-6">
          <a class="portfolio-item d-block mx-auto" >
            <div class="portfolio-item-caption d-flex position-absolute h-100 w-100">
              <div class="portfolio-item-caption-content my-auto w-100 text-center text-white">
                Acondicionamiento Físico
                <ul class="news text-secondary text-justify"><li>Clases grupales de entrenamiento funcional</li>
                <li>Al aire libre o en gimnasios</li>
                <li>Mejorar capacidades físicas de forma integral</li>
                <li>Potencia la salud</li>
                <li>Previene lesiones</li>
                <li>Mejora peso corporal, postura, medidas. </li></ul>
              </div>
            </div>
            <img class="img-fluid" src="../../../assets/img/servicios/acon.jpg" alt="Acondicionamiento Fisico">
          </a>
        </div>
      </div>
    </div>
  </section>