<!-- About Section -->
<section class="bg-primary text-white mb-0" id="about">
    <div class="container">
      <h2 class="text-center text-uppercase text-white">Quienes Somos</h2>
      <hr class="star-light mb-5">
      <div class="row">
        <div class="col-lg-4 ml-auto">
          <p class="lead">Servicio profesional de entrenamiento deportivo y Acondicionamiento físico.</p>
          <p class="lead">Entrenamiento integral dirigido a que logres romper hábitos que te impiden alcanzar tu mejor versión. </p>
        </div>
        <div class="col-lg-4 mr-auto">
          <ul class="lead">
              <li > Entrenamientos dirigidos</li>
              <li > Espacios al aire libre</li>
              <li > Evaluaciones físicas y de salud</li>
              <li > Horarios flexibles</li>
              <li > Variadas formas de pago</li> 
              <li > Seguimiento de tu desempeño</li> 
          </ul> 
        </div>
      </div>
      <div class="text-center mt-4">
        <a class="btn btn-xl btn-outline-light " href="https://play.google.com/store">
          <i class="fas fa-download mr-2"></i>
          Download Now!
        </a>
      </div>
    </div>
  </section>