ion-content{
    --ion-background-color: black;
}
ion-icon{
    font-size: 25px;
    color: white;
}
h4{
    color: white;
    font-size: 25px;
}
.gender{
    background-color: rgba(22, 22, 22, 0.877);
    border-radius: 15px;
}
.icon{
    font-size:35px;
}
.text{
    font-size:15px;
    color:white;
}
ion-footer{
    background-color: black;
}
ion-button{
    font-size: 17px;
    font-weight: bold;
}

