<ion-content padding>
  <ion-icon padding-top name="arrow-back" routerLink="/slide"></ion-icon>
  <ion-label><h4>¿Eres hombre o mujer?</h4></ion-label>

  <ion-segment color="warning" class="gender" margin-top >
      <ion-segment-button  value="Mujer">
        <ion-icon padding-bottom class="icon" name="female"></ion-icon>
        <ion-label class="text">Mujer</ion-label>
      </ion-segment-button>
      <ion-segment-button >
          <ion-icon padding-bottom class="icon" name="male"></ion-icon>
        <ion-label class="text">Hombre</ion-label>
      </ion-segment-button>
  </ion-segment>
</ion-content>
<ion-footer>
    <ion-button size="large" color="success" expand="block" routerLink="/registro/objetivo">Siguiente</ion-button>
</ion-footer>