.radio-1{
    margin-right: 15px;
  }

.btnAdd{
  font-size: xx-small
}


.btn-sm{
  font-size: xx-small;
}

.table > thead > tr > th, .table > tbody > tr > th, .table > tfoot > tr > th, .table > thead > tr > td, .table > tbody > tr > td, .table > tfoot > tr > td {
  padding: 5px 8px;
  vertical-align: middle;
}