<div *ngIf="showSplash" class="splash">
  <div class="spinner"></div>
</div>
<ion-app>
  <ion-split-pane contentId="menu-content">
    <ion-menu contentId="menu-content" type="overlay">
      <ion-header padding class="menuleft">
        
        <ion-row >
          <ion-col size="4" >
                <a routerLink="/perfil">
                  <ion-menu-toggle auto-hide="false">
                      <ion-avatar >
                          <img src="https://gravatar.com/avatar/dba6bae8c566f9d4041fb9cd9ada7741?d=identicon&f=y" >
                      </ion-avatar>
                  </ion-menu-toggle>
                </a>  
          </ion-col>
          <ion-col padding routerLink="/perfil">
            <ion-menu-toggle auto-hide="false">
              <div class="nick">Nickname</div>
              <div class="user">{{usuario.nombre}}</div>
            </ion-menu-toggle>
          </ion-col>
        </ion-row>
      
        
      </ion-header>
      <ion-content>
          <!--<ion-list routerLink='/login'>
              <ion-menu-toggle auto-hide="false">
                <ion-item  color="danger">
                    Cerrar Sesión L
                </ion-item>
              </ion-menu-toggle>
          </ion-list>-->
        <ion-list *ngIf="provFb">
            <ion-menu-toggle auto-hide="false"  (click)="logoutFB()">
              <ion-item  color="danger">
                  Cerrar Sesión
              </ion-item>
            </ion-menu-toggle>
        </ion-list>
        <ion-list *ngIf="provGp">
          <ion-menu-toggle auto-hide="false"  (click)="logoutGP()">
            <ion-item  color="danger">
                Cerrar Sesión
            </ion-item>
          </ion-menu-toggle>
      </ion-list>
      <ion-list *ngIf="provFi">
        <ion-menu-toggle auto-hide="false"  (click)="logout()">
          <ion-item  color="danger">
              Cerrar Sesión
          </ion-item>
        </ion-menu-toggle>
    </ion-list>
      </ion-content>
    </ion-menu>
    <ion-router-outlet id="menu-content" main></ion-router-outlet>
  </ion-split-pane>
</ion-app>
