<div id="video">

    <div class="preloader">
        <div class="preloader-bounce">
            <span></span>
            <span></span>
            <span></span>
        </div>
    </div>

	<app-header></app-header>

	<video autoplay muted loop id="myVideo">
      <source src="assets/images/video-bg.mp4" type="video/mp4">
    </video>

	
	<div id="fullpage" class="fullpage-default">
		<!--
		<app-home></app-home>
		<app-about></app-about>
		<app-services></app-services>
		<app-work></app-work>
		<app-testimonials></app-testimonials>
		<app-contact></app-contact>
		-->

		<router-outlet></router-outlet>
	</div>

	<app-social></app-social>

</div>