.title1{
    font-family: cursive;
}
#title2{
    font-size: large;
    font-family: cursive;

}

.cardimg{
    background-color: transparent; 
    border: none;
}

.profile{
    width: unset;
}

.card-item{
    font-family: cursive;
    font-size: large;
}

.card-item-1{
    font-family: cursive;
    font-size: small;
}

.card-title-1{
    font-family: cursive;
}

.card-color-1{
    //color:#9c27b0
}

.col-niveles{
    padding-top: 10px;
    padding-bottom: 10px;
    /* font-size: inherit; */
    /* font-style: initial; */
    font-weight: bold;
    text-align: center;
}

.col-niveles-sub{
    margin-top: 7px;
    padding-bottom: 10px;
    text-align: center;
}

.col-color-1{
    background-color: #16B3E7;
}
.col-color-2{
    background-color:#16E72E;
}
.col-color-3{
    background-color:#E7D016;
}
.col-color-4{
    background-color: #E74516;
}

.col-text{
    text-align: center;
    font-weight: bold;
    font-size: large;
}

.section-radio{
    padding-top: 12px;
    padding-bottom: 18px;
  }

  .radio-1{
    margin-right: 15px;
  }
  #radio-group-label{
    padding-right: 18px;
  }