
<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header card-header-primary">
                        <h4 class="card-title ">Perfil</h4>
                    </div>
                    <div class="card-body">
                      
                        <div class="row row-1 animated fadeInRight">

                            <div class="col-sm-5">
                                <img class="card-img-top profile" src="assets/images/profile.png" alt="Card image cap" >
                                <div class="card-body">
                                    <h2 class="title1">{{deportista.nombre | uppercase}} {{deportista.apellido | uppercase}}</h2>
                                    <p id="title2" > {{deportista.email}}</p>
                                    <p id="title2" > {{deportista.telefono}}</p>
                                </div>
                      
                      
                            </div>
                            <div class="col-sm-7">
                      
                              <h3>Historial</h3>
                      
                        
                            </div>
                         
                      
                        </div>
                    
                        
                      
                       
                    </div>
                </div>
            </div>
     
        </div>
    </div>
</div>