<div class="is-auth">
  <form novalidate #forgotPasswordForm="ngForm" (ngSubmit)="forgotPassword(forgotPasswordForm)">
    <div class="form-heading">
      <h1>TSQ ADMIN</h1>
    </div>
    <div class="form-body">
      <p class="text-center">Fill with your mail to receive reset link</p>
      <div class="form-group has-feedback">
        <input [(ngModel)]="email" name="email" required type="email" placeholder="Enter email" class="form-control">
        <span class="fa fa-envelope form-control-feedback text-muted"></span>
      </div>
      <button [disabled]="requesting" type="submit" class="btn btn-block btn-danger">
        Send<i *ngIf="requesting" class="fa fa-spinner fa-pulse fa-fw"></i>
      </button>
      <p *ngIf="errorMessage" class="pt-lg text-center text-danger">
        {{errorMessage}}
      </p>
      <p *ngIf="successMessage" class="pt-lg text-center text-success">
        {{successMessage}}
      </p>
    </div>
  </form>
</div>