<div class="is-auth">
  <form novalidate #signupForm="ngForm" (ngSubmit)="signup(signupForm)">
    <div class="form-heading">
      <h1>TSQ ADMIN</h1>
    </div>
    <div class="form-body">
      <div class="form-group has-feedback">
        <input [(ngModel)]="email" name="email" required type="email" placeholder="Enter email" class="form-control">
        <span class="fa fa-envelope form-control-feedback text-muted"></span>
      </div>
      <div class="form-group has-feedback">
        <input [(ngModel)]="password" name="password" required type="password" placeholder="Password" class="form-control">
        <span class="fa fa-lock form-control-feedback text-muted"></span>
      </div>
      <button [disabled]="requesting" type="submit" class="btn btn-block btn-primary mt-lg">
        Create account <i *ngIf="requesting" class="fa fa-spinner fa-pulse fa-fw"></i>
      </button>
      <p class="pt-lg text-center">Have an account?</p>
      <a routerLink="/signin" class="btn btn-block btn-default">Login</a>
      <p *ngIf="errorMessage" class="pt-lg text-center text-danger">
        {{errorMessage}}
      </p>
    </div>
  </form>
</div>
