table {
    width: 100%;
  } 


  .spanEstado{
    padding: 6px 10px 6px 10px;
    border-radius: 8px;
    color: white;
    font-weight: bold;
  }
  .spanActivo{
    background-color: #1fdd7e;
  }
  
  .spanInactivo{
    background-color: #f44336;
  }