<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header card-header-primary">
                        <h4 class="card-title ">Listado de Ejercicios</h4>
                    </div>
                    <div class="card-body">

                        <div class="row animated fadeInRight btn-add">
                            <button mat-raised-button class="btn btn-info ml-auto" (click)="newModal()" data-toggle="modal" data-target="#dataModal">
                                <i class="fas fa-plus-circle"></i> Añadir
                            </button>
                            <!--
                            <button mat-raised-button class="btn btn-info ml-auto" (click)="getDownload()" data-toggle="modal" data-target="#dataModal">
                                <i class="fas fa-plus-circle"></i> get
                            </button>
                            -->
                        </div>

                        <br>

                          <!-- DATA TABLE -->

                   
                                        
                    </div>
                </div>
            </div>
     
        </div>
    </div>
</div>



<!-- FORMULARIO MODAL -->
<div class="modal fade" id="dataModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel"> 
              <span *ngIf="new == true" ><i class="fas fa-running"></i>&nbsp;Nuevo Entrenamiento</span>
              <span *ngIf="new == false"><i class="fas fa-edit"></i>&nbsp;Editar Entrenamiento</span>

          </h5> 
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <form id="form-entrenamiento" (ngSubmit)="guardar()" #form="ngForm">
          <div class="modal-body">


              <div class="example-container">

                  <div class="row">
                      <div class="col-md-12">
                            <mat-form-field *ngIf="new == true">        
                              <mat-label>Elija un deportista</mat-label>
                              <mat-select disableRipple name="deportista"  [(ngModel)] = "deportistasAsignados" multiple > 
                                <mat-option *ngFor="let item of deportistas" [value]="item" >{{item.nombre}} {{item.apellido}}</mat-option>
                              </mat-select>
                            </mat-form-field>
                            
                            <mat-form-field *ngIf="new == false">
                                <mat-label>Elija un deportista</mat-label>
                                <mat-select disableRipple name='deportista' [(ngModel)] = "deportistasAsignados"  multiple> 
                                  <mat-option *ngFor="let item of deportistas" [value]="item" >{{item.nombre}} {{item.apellido}}</mat-option>
                                </mat-select>
                            </mat-form-field>
                      </div>
                    </div>

                  
                  <div class="row">
                      <div class="col-md-12">
                            <mat-form-field *ngIf="new == true">        
                              <mat-label>Lista de rutinas</mat-label>
                              <mat-select disableRipple name="tipo"  [(ngModel)] = "listRutinas" multiple > 
                                <mat-option *ngFor="let item of rutinas" [value]="item" (click)="addRutina($event)">{{item.titulo}}</mat-option>
                              </mat-select>
                            </mat-form-field>
                            
                            <mat-form-field *ngIf="new == false">
                                <mat-label>Lista de rutinas</mat-label>
                                <mat-select disableRipple name='tipo' [(ngModel)] = "listRutinas"  multiple> 
                                  <mat-option *ngFor="let item of rutinas" [value]="item" >{{item.titulo}}</mat-option>
                                </mat-select>
                            </mat-form-field>
                      </div>
                  </div>

                  <div class="row" *ngFor="let item of listRutinasEntr" >
                      <div class="col-md-6">
                          <p mat-line class="demo-2"> {{item.rutina.titulo}} </p>
                      </div>

                      <div class="col-md-3">
                          <mat-form-field *ngIf="new == true">        
                            <mat-label>Dias de Entrenamiento</mat-label>
                            <mat-select disableRipple name="dia" [(ngModel)] = "item.dias"  multiple > 
                              <mat-option *ngFor="let item of dias" [value]="item" >{{item}}</mat-option>
                            </mat-select>
                          </mat-form-field>
                          
                          <mat-form-field *ngIf="new == false">
                              <mat-label>Dias de Entrenamiento</mat-label>
                              <mat-select disableRipple name='dia' [(ngModel)] = "item.dias"  multiple> 
                                <mat-option *ngFor="let item of dias" [value]="item" >{{item}}</mat-option>
                              </mat-select>
                          </mat-form-field>
                       </div>

                    <div class="col-md-3">
                        <mat-form-field *ngIf="new == true">        
                          <mat-label>Semanas de Entrenamiento</mat-label>
                          <mat-select disableRipple name="semana" [(ngModel)] = "item.semanas" multiple > 
                            <mat-option *ngFor="let item of semanas" [value]="item" >{{item}}</mat-option>
                          </mat-select>
                        </mat-form-field>
                        
                        <mat-form-field *ngIf="new == false">
                            <mat-label>Semanas de Entrenamiento</mat-label>
                            <mat-select disableRipple name='semana' [(ngModel)] = "item.semanas"  multiple> 
                              <mat-option *ngFor="let item of semanas" [value]="item" >{{item}}</mat-option>
                            </mat-select>
                        </mat-form-field>
                  </div>

                  </div>
          
                    
               
              </div>
          
    
          </div>
          
          <div class="modal-footer">
            <button type="button" class="btn btn-danger" data-dismiss="modal">Cerrar</button>
            
            <button type="submit" *ngIf="new == true" class="btn btn-primary" [disabled]=btnSave >Guardar</button>
            <button type="submit" *ngIf="new == false" class="btn btn-primary" [disabled]=btnSave >Editar</button>
            
              
          </div>
        </form>
      </div>
    </div>
</div>


<!--Comfirm Modal-->
<!-- Modal -->
<div class="modal fade" id="modalDeleted" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Esta seguro de eliminar este ejercicio?</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" data-dismiss="modal" (click)="eliminar()">Si</button>
        <button type="button" class="btn btn-secondary"  data-dismiss="modal" >No</button>
      </div>
    </div>
  </div>
</div>