<ion-header>
    <ion-toolbar color="shade">
        <ion-menu-button slot="start" color="light" autoHide="false"></ion-menu-button>
        <ion-title text-center class="title">Estadísticas</ion-title>
        <ion-buttons slot="start">
            <ion-back-button color="light" text=""></ion-back-button>
        </ion-buttons>
        <!--<a slot="end" routerLink="/news">
            <ion-icon color="light" name="notifications-outline"></ion-icon>
        </a>-->
    </ion-toolbar>
</ion-header>

<ion-content padding>
    <ion-card>
        <img src="../../../assets/icon/est.PNG" />
        <ion-card-header>
            <ion-card-subtitle>Jenandi</ion-card-subtitle>
            <ion-card-title>Morales</ion-card-title>
        </ion-card-header>
        <ion-card-content>
            <ion-item>
                <ion-label color="light">
                    <ion-icon slot="start" name="fitness"></ion-icon> 60kg
                    <ion-icon slot="end" name="body"></ion-icon> 155cm
                </ion-label>
            </ion-item>

            <ion-item>
                <ion-label color="light">
                    <ion-icon slot="start" name="grid"></ion-icon> 23 años
                </ion-label>
            </ion-item>
        </ion-card-content>
    </ion-card>
</ion-content>