
<div class="section section-1 animated-row " data-section="slide01">
  <div class="section-inner">
      <div class="welcome-box">

        <span class="welcome-first animate" data-animate="fadeInUp">Hola, Bienvenido a</span>
          <h1 class="welcome-title animate" data-animate="fadeInUp">sport & life coach</h1>
          <p class="animate" data-animate="fadeInUp">Se parte de esta gran familia. <br>“Para cumplir un objetivo se necesita de un plan, trazar una estrategia, accionar paso a paso y no detenerse hasta lograrlo”</p>
          <div class="scroll-down next-section animate data-animate='fadeInUp'"><img src="assets/images/mouse-scroll.png" alt=""><span>Scroll Down</span></div>
    
      </div>
  </div>
</div>

<div class="section section-2 animated-row" data-section="slide02">
  <div class="section-inner">
      <div class="about-section">
          <div class="row justify-content-center">
              <div class="col-lg-10 wide-col-laptop">
                  <div class="row">
                      <div class="col-md-6 col-lg-6">
                          <div class="about-contentbox">
                              <div class="animate" data-animate="fadeInUp">
                                  <!--<span>Acerca de mi</span>-->
                                  <br><br>
                                  <h2>Quien soy yo?</h2>
                                  <p><strong>Lcdo. Alberto Orozco</strong> (Docente/Facilitador/Instructor). <br><strong>Preparador físico deportivo</strong> y <strong>Personal Trainer </strong> <br>"Eterno estudiante, eterno aprendiz" escucha, observa, ríe, lucha con disciplina, valora y se feliz.</p>                                

                              </div>
                              <div class="facts-list owl-carousel">
                                  <div class="item animate" data-animate="fadeInUp">
                                      <div class="counter-box">
                                          <i class="fas fa-running counter-icon" aria-hidden="true"></i><span class="count-number">----</span> Preparador Fisico
                                      </div>
                                  </div>
                                  <div class="item animate" data-animate="fadeInUp">
                                      <div class="counter-box">
                                          <i class="fas fa-id-badge counter-icon" aria-hidden="true"></i><span class="count-number">----</span> Director/Coach
                                      </div>
                                  </div>
                                  <div class="item animate" data-animate="fadeInUp">
                                      <div class="counter-box">
                                          <i class="fa fa-graduation-cap counter-icon" aria-hidden="true"></i><span class="count-number">----</span> Profesor Universitario
                                      </div>
                                  </div>
                                  <div class="item animate" data-animate="fadeInUp">
                                      <div class="counter-box">
                                          <i class="fa fa-support counter-icon" aria-hidden="true"></i><span class="count-number">----</span> Team Sport/Couch
                                      </div>
                                  </div>
                                  <div class="item animate" data-animate="fadeInUp">
                                      <div class="counter-box">

                                          <i class="fas fa-medal counter-icon" aria-hidden="true"></i><span class="count-number">----</span> Personal Trainer
                                      </div>
                                  </div>
                              </div>
                          </div>
                      </div>
                      <div class="col-md-6 col-lg-6">
                          <figure class="about-img animate" data-animate="fadeInUp" id="about-01"><img src="assets/images/about/01.jpg" class="rounded" alt=""></figure>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>
</div>

<div class="section section-3 animated-row" data-section="slide03">
  <div class="section-inner">
      <div class="row justify-content-center">
          <div class="col-md-8 col-lg-11 col-xl-8 wide-col-laptop">
              <div class="title-block animate" data-animate="fadeInUp">
                  <br>
                  <h2>Servicios</h2>
              </div>
              <div class="gallery-section">
                  <div class="gallery-list owl-carousel">
                      <div class="item animate" data-animate="fadeInUp">
                          <div class="portfolio-item">
                              <div class="thumb">
                                  <img src="assets/images/servicios/01.jpg" alt="">
                              </div>
                              <div class="thumb-inner animate" data-animate="fadeInUp">
                                  <h4>Servicio deportivo empresarial</h4>
                                  <p>Programas integrales deportivos, recreativos, de salud dirigido a fortalecer la salud ocupacional.</p>
                              </div>
                          </div>
                      </div>
                      <div class="item animate" data-animate="fadeInUp">
                          <div class="portfolio-item">
                              <div class="thumb">
                                  <img src="assets/images/servicios/02.jpg" alt="">
                              </div>
                              <div class="thumb-inner animate" data-animate="fadeInUp">
                                  <h4>Entrenamiento Personalizado</h4>
                                  <p> - Evaluacion de la condición física y de salud. <br> - Programa de ejercicios adaptados a los objetivos de la persona. <br> - Atención personalizada durante cada sesión. <br> - Asesorías on-line y presencial. <br> - Seguimiento</p>
                              </div>
                          </div>
                      </div>
                      <div class="item animate" data-animate="fadeInUp">
                          <div class="portfolio-item">
                              <div class="thumb">
                                  <img src="assets/images/servicios/03.jpg" alt="">
                              </div>
                              <div class="thumb-inner animate" data-animate="fadeInUp">
                                  <h4>Preparación física deportiva</h4>
                                  <p>Preparación física deportiva dirigida a: <br> - Atletas élites o amateurs. <br> - Equipos deportivos profesionales o amateurs. <br> - Escuelas deportivas. <br> - Evaluacion del rendimiento. <br> - Programa preventivo de lesiones</p>
                              </div>
                          </div>
                      </div>
                      <div class="item animate" data-animate="fadeInUp">
                          <div class="portfolio-item">
                              <div class="thumb">
                                  <img src="assets/images/servicios/04.jpg" alt="">
                              </div>
                              <div class="thumb-inner animate" data-animate="fadeInUp">
                                  <h4>Docente, Facilitador, Instructor</h4>
                                  <p>Temas de: Coaching deportivo, Deporte, entrenamiento deportivo, salud, preparación física deportiva, educación física. <br> Dirigido a eventos académicos, Seminarios,Talleres,Cursos,Certificaciones.</p>
                              </div>
                          </div>
                      </div>
                      <div class="item animate" data-animate="fadeInUp">
                          <div class="portfolio-item">
                              <div class="thumb">
                                  <img src="assets/images/servicios/05.jpg" alt="">
                              </div>
                              <div class="thumb-inner animate" data-animate="fadeInUp">
                                  <h4>Clases de Acondicionamiento Fisico</h4>
                                  <p>Clases grupales de entrenamiento funcional:<br> - Al aire libre o en gimnasios. <br> - Mejorar capacidades físicas de forma integral. <br> - Potencia la salud. <br> - previene lesiones. <br> - Mejora peso corporal, postura, medidas.</p>
                              </div>
                          </div>
                      </div>
                      <div class="item animate" data-animate="fadeInUp">
                          <div class="portfolio-item">
                              <div class="thumb">
                                  <img src="assets/images/servicios/06.jpg" alt="">
                              </div>
                              <div class="thumb-inner animate" data-animate="fadeInUp">
                                  <h4>Asesoria on-line</h4>
                                  <p>Permiteme ayudarte a lograr tus objetivos, motivarte y darte herramientas e información veraz para ponerte en forma.</p>
                              </div>
                          </div>
                      </div>
                      <div class="item animate" data-animate="fadeInUp">
                          <div class="portfolio-item">
                              <div class="thumb">
                                  <img src="assets/images/servicios/07.jpg" alt="">
                              </div>
                              <div class="thumb-inner animate" data-animate="fadeInUp">
                                  <h4>Recomendación nutricional</h4>
                                  <p>Lo ideal para nuestra salud es llevar una dieta equilibrada, que se adapte a las necesidades de nuestro cuerpo y a la energía que consumimos.</p>
                              </div>
                          </div>
                      </div>
                      <div class="item animate" data-animate="fadeInUp">
                          <div class="portfolio-item">
                              <div class="thumb">
                                  <img src="assets/images/servicios/09.jpg" alt="">
                              </div>
                              <div class="thumb-inner animate" data-animate="fadeInUp">
                                  <h4>Seguimiento de las metas</h4>
                                  <p>Es de vital importancia programar ejercicios preventivos (core, propiocepción, trabajo estabilizador, lumbar etc) para disminuir el riesgo de lesiones en los deportistas.</p>
                              </div>
                          </div>
                      </div>
                      <div class="item animate" data-animate="fadeInUp">
                          <div class="portfolio-item">
                              <div class="thumb">
                                  <img src="assets/images/servicios/10.png" alt="">
                              </div>
                              <div class="thumb-inner animate" data-animate="fadeInUp">
                                  <h4>Liderazgo y Autoestima</h4>
                                  <p>Para triunfar o fracasar es necesario tomar riesgos. Quedarte en tu zona de confort hará que tu vida sea aburrida y monótona.</p>
                              </div>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>
</div>

<div class="section section-4 animated-row" data-section="slide04">
  <div class="section-inner">
      <div class="row justify-content-center">
          <div class="col-md-8 col-lg-10 col-xl-8 wide-col-laptop">
              <div class="title-block animate" data-animate="fadeInUp">
                  <br>
                  <h2>Experiencia</h2>
              </div>
              <div class="services-section">
                  <div class="services-list owl-carousel">
                      <div class="item animate" data-animate="fadeInUp">
                          <div class="service-box">
                              <span class="service-icon"><i class="fas fa-running counter-icon" aria-hidden="true"></i></span>
                              <h3>Preparador Físico</h3>
                              <p>Liga Deportiva Universitaria Femenino. <br>Coordinador General de la preparación física del equipo femenino temporada 2016-2018. <br> Quito - Ecuador</p>
                          </div>
                      </div>
                      <div class="item animate" data-animate="fadeInUp">
                          <div class="service-box">
                              <span class="service-icon"><i class="fas fa-medal counter-icon" aria-hidden="true"></i></span>
                              <h3>Director/Coach</h3>
                              <p>En Sport & Life Coach <br> Desde el 1 de octubre de 2017 hasta la fecha. <br>Quito - Ecuador</p>
                          </div>
                      </div>
                      <div class="item animate" data-animate="fadeInUp">
                          <div class="service-box">
                              <span class="service-icon"><i class="fas fa-trophy" aria-hidden="true"></i></span>
                              <h3>Coach Deportivo</h3>
                              <p>En Axxis Sports. Coach a cargo de las sesiones de entrenamiento. <br>Quito - Ecuador</p>
                          </div>
                      </div>
                      <div class="item animate" data-animate="fadeInUp">
                          <div class="service-box">
                              <span class="service-icon"><i class="fa fa-graduation-cap counter-icon" aria-hidden="true"></i></span>
                              <h3>Profesor Universitario</h3>
                              <p>En Universidad Politécnica Territorial Arístides Bastidas - UPTAB.<br>  De 27 de abril de 2015 a 15 de octubre de 2016· <br>San Felipe - Venezuela </p>
                          </div>
                      </div>
    
                  </div>
              </div>
          </div>
      </div>
  </div>
</div>

<div class="section section-5 animated-row" data-section="slide05">
  <div class="section-inner">
      <div class="row justify-content-center">
          <div class="col-md-8 col-lg-11 col-xl-8 wide-col-laptop">
              <div class="title-block animate" data-animate="fadeInUp">
                  <br>
                  <h2>Testimonios</h2>
              </div>
              <div class="col-md-8 offset-md-2">
                  <div class="testimonials-section">
                      <div class="testimonials-slider owl-carousel">
                          <div class="item animate" data-animate="fadeInUp">
                              <div class="testimonial-item">
                                  <div class="client-row">
                                      <img src="assets/images/profile/01.jpg" class="rounded-circle" alt="profile 1">
                                  </div>
                                  <div class="testimonial-content">
                                      <h4>Veronica Romero</h4>
                                      <p>"Excelente Servicio, 100% profesional y efectivo. me ha ayudado a mejorar mi estilo de vida. Me siento en mejor condición física y trabajo en base a mis objetivos."</p>
                                      <span>16 de julio de 2018</span>
                                  </div>                                           
                              </div>
                          </div>
                          <div class="item animate" data-animate="fadeInUp">
                              <div class="testimonial-item">
                                  <div class="client-row">
                                      <img src="assets/images/profile/02.jpg" class="rounded-circle" alt="profile 2">
                                  </div>
                                  <div class="testimonial-content">
                                      <h4>Marlyn Cariño</h4>
                                      <p>"Buen Coach y excelente entrenador,  te ajusta un plan de entrenamiento según tu nivel de forma, tu objetivo, tus características físicas y tu habilidad técnica."</p>
                                      <span>11 de febrero de 2018</span>
                                  </div>                                           
                              </div>
                          </div>
                          <div class="item animate" data-animate="fadeInUp">
                              <div class="testimonial-item">
                                  <div class="client-row">
                                      <img src="assets/images/profile/03.jpg" class="rounded-circle" alt="profile 3">
                                  </div>
                                  <div class="testimonial-content">
                                      <h4>Vargas Vergara </h4>
                                      <p>"Excelente servicio el que ofrece. Realmente se ven los resultados!!!."</p>
                                      <span>29 de noviembre de 2018</span>
                                  </div>                                           
                              </div>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>
</div>

<div class="section section-6 animated-row" data-section="slide06">
  <div class="section-inner">
      <div class="row justify-content-center">
          <div class="col-md-7 col-lg-11 col-xl-8  wide-col-laptop">
              <div class="title-block animate" data-animate="fadeInUp">
                  <br>
                  <h2>Contactos</h2>
              </div>
              <div class="contact-section">
                  <div class="row">
                      <div class="col-md-6 animate" data-animate="fadeInUp">
                          <div class="contact-box">
                              <div class="contact-row">
                                  <i class="fa fa-map-marker"></i> Parque la Carlina, Norte de Quito
                              </div>
                              <div class="contact-row">
                                  <i class="fa fa-phone"></i> 098 659 8287
                              </div>
                              <div class="contact-row">
                                  <i class="fa fa-envelope"></i> alberto18.ao@gmail.com
                              </div>
                          </div>
                      </div>
                      <div class="col-md-6 animate" data-animate="fadeInUp">
                          <form id="ajax-contact" method="post" action="#">
                              <div class="input-field">
                                  <input type="text" class="form-control" name="name" id="name" required placeholder="Name">
                              </div>
                              <div class="input-field">
                                  <input type="email" class="form-control" name="email" id="email" required placeholder="Email">
                              </div>
                              <div class="input-field">
                                  <textarea class="form-control" name="message" id="message" rows="5" required placeholder="Message"></textarea>
                              </div>
                              <button class="btn btn-lg" type="submit" id="btn-submit">Submit</button>
                          </form>
                          <div id="form-messages" class="mt-3"></div>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>
</div>

