/*==============================================
00. GENERAL
================================================*/
.section-1, .section-2 , .section-3, .section-4, .section-5,.section-6{
	color: white;
	text-align: center;
}


/*==============================================
01. WELCOME BLOCK CSS
================================================*/
.welcome-box {
	font-size:20px;
	line-height:1.7;
  }
  .welcome-first{
	font-size: 32px;
	display: block;
	text-transform: uppercase;
	font-weight: 300;
	line-height: 1.2;
	letter-spacing: 0.02em;
  }
  .welcome-box p {
	max-width: 620px;
	width:100%;
	margin:0 auto 30px;
	color: #fff;
  }
  .welcome-title {
	font-weight: 700;
	font-size: 9vw;
	margin-bottom: 15px;
	margin-top: 15px;
	letter-spacing:0.02em;
  }
  .welcome-title span {
	font-size:36px;
	display:block;
	font-weight:300;
	line-height:1.2;
  }
  .welcome-box .btn {
	margin-top: 10px;
  }
  .next-section {
	display: inline-block;
	position: absolute;
	left: 50%;
	transform: translateX(-50%);
	bottom: 30px;
	cursor: pointer;
	-webkit-transition: all 0.5s ease;
	transition: all 0.5s ease;
  }
  .next-section span {
	margin-top: 15px;
	display: block;
	text-transform: uppercase;
	font-size: 14px;
	font-weight: 500;
  }
  .next-section i:hover {
	opacity: 1;
  }
  

/*==============================================
02. ABOUT ME
================================================*/
.about-img {
	margin: 0 auto 40px;
	position:relative;
  }
  .about-img img {
	border-radius: 10px;
	-webkit-box-shadow: 0 0 40px rgba(0,0,0,.3);
	box-shadow: 0 0 40px rgba(0,0,0,.3);
  }
  .about-contentbox {
	margin-top: 80px;
	text-align:left;
	line-height:1.8;
  }
  .about-contentbox span {
	font-size: 24px;
	text-transform: uppercase;
	font-weight: 300;
  }
  .about-contentbox h2 {
	font-size: 32px;
	text-transform: uppercase;
	font-weight: 700;
  }
  .facts-list {
	margin-top: 30px;
  }
  .facts-list .item {
	overflow: hidden;
	text-align:center;
	border-radius: 10px;
	width: 100%;
	display: inline-block;
	text-transform:capitalize;
	font-size:14px;
	padding: 30px 0px;
	background: rgba(0,0,0,0.25);
  }
  .counter-box span {
	font-size: 26px;
	font-weight: 700;
  }
  .counter-icon {
	font-size: 30px;
	margin-bottom: 10px;
	opacity: 0.75;
  }
  .facts-list .item:hover {
	background:#fff;
	color:#1e1e1e;
  }
  .facts-list .owl-dots {
	margin-bottom: 30px;
  }
  .count-number, .counted {
	display:block;
	font-size:36px;
	font-weight:700;
	line-height:1;
	margin-bottom:10px;
  }
  

/*==============================================
03. SERVICES BLOCK CSS
================================================*/
.section-3 p{
	font-weight: 500;
    line-height: 18px;
    font-size: smaller;
}
.section-3 h4{
	font-weight: bold;
	//margin-top: 0px;
}
 .gallery-section {
	text-align: center;
}
 .portfolio-item img {
	max-width: 100%;
	overflow: hidden;
	position: relative;
	z-index: 9;
	border-radius: 10px;
}
 .portfolio-item .thumb-inner {
	position: absolute;
	z-index: 99;
	bottom: 0;
	text-align: left;
	padding: 20px;
	background-color: rgba(250,250,250,0.25);
	width: 100%;
	height: 60px;
	border-top-left-radius: 0px;
	border-top-right-radius: 0px;
	-webkit-transition: all 0.4s ease;
	transition: all 0.4s ease;
  }
   .portfolio-item .thumb-inner h4 {
	margin-bottom: 0;
	font-size: 16px;
	margin-top: -5px;
  }
   .portfolio-item .thumb-inner p {
	opacity: 0;
	visibility: hidden;
	position: absolute;
	margin-bottom: 0px;
  }
   .portfolio-item:hover .thumb-inner p {
	position: relative;
	opacity: 1;
	visibility: visible;
	color: #4a4a4a;
  }
  .portfolio-item:hover .thumb-inner {
	border-radius: 10px;
	height: 100%;
	background-color: rgba(250,250,250,0.9)
  }
   .portfolio-item:hover .thumb-inner h4 {
	 margin-top: 30%;
	color: #1e1e1e;
	margin-bottom: 20px;
  }
  


/*==============================================
05. TESTIMONOALS BLOCK CSS
================================================*/
.testimonials-section .item {
  background-color: rgba(250,250,250,0.25);
  padding: 40px;
  border-radius: 10px;
}
.testimonials-section .item img {
  width: 140px;
  height: 140px;
  margin: 0 auto;
}
.testimonials-section .item h4 {
  margin-top: 40px;
  font-size: 22px;
  text-transform: capitalize;
  font-weight: 700;
}
.testimonials-section .item p {
  font-size: 17px;
  font-style: italic;
}


/*==============================================
06. CONTACT BLOCK CSS
================================================*/
::-webkit-input-placeholder {
  color:#fff !important;
  opacity:1;
}
::-moz-placeholder {
  color:#fff !important;
  opacity:1;
}
:-ms-input-placeholder {
  color:#fff !important;
  opacity:1;
}
:-moz-placeholder {
  color:#fff !important;
  opacity:1;
}
.input-field {
  margin-bottom:15px;
}
.form-control {
  height: 50px;
  color:#fff;
  border: none;
  background:rgba(250,250,250,0.05);
  border: 1px solid rgba(250,250,250,0.5);
  border-radius: 10px;
  padding:4px 22px;
  font-size:14px;
  margin-bottom: 30px;
}
.form-control:focus {
  box-shadow:none;
  outline:none;
  background:rgba(0,0,0,0.05);
  border: 1px solid rgba(250,250,250,1);
  color:#fff;
}
.index .form-control.form-control-dark {
  background: rgba(250,250,250, 0.75);
  color: #fff;
}
.index .form-control.form-control-dark:focus {
  background: rgba(54, 40, 158, 0.85);
  color: #fff;
}
.index .form-control.form-control-dark::-webkit-input-placeholder {
  color: #fff !important;
}
.index .form-control.form-control-dark::-moz-placeholder {
  color:#fff !important;
}
.index .form-control.form-control-dark:-ms-input-placeholder {
  color:#fff !important;
}
.index .form-control.form-control-dark:-moz-placeholder {
  color:#fff !important;
}
.form-control.form-control-dark:focus {
  background: rgba(0, 0, 0, 0.2);
}
.form-control.form-control-dark {
  background: rgba(0, 0, 0, 0.1);
  color: #222;
  border: none;
}
.form-control.form-control-dark::-webkit-input-placeholder {
  color:#222 !important;
  opacity:0.7;
}
.form-control.form-control-dark::-moz-placeholder {
  color:#222 !important;
  opacity:0.7;
}
.form-control.form-control-dark:-ms-input-placeholder {
  color:#222 !important;
  opacity:0.7;
}
.form-control.form-control-dark:-moz-placeholder {
  color:#222 !important;
  opacity:0.7;
}
textarea.form-control {
  height:123px;
  padding-top:15px;
}
.contact-section .btn {
  width:100%;
}
.contact-box {
  text-align:left;
}
.contact-box h4 {
  font-size:24px;
}
.contact-box h4:after {
  content:'';
  display:block;
  width:50px;
  height:2px;
  background:#fff;
  margin:12px 0;
}
.contact-row {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  margin-bottom: 30px;
  background: rgba(250,250,250,0.25);
  border-radius: 10px;
  padding: 30px;
  font-weight: 700;
}
.contact-row i {
  width:55px;
  font-size: 30px;
  display:block;
}
.contact-row i.fa-envelope {
  font-size: 25px;
}
#btn-submit{
	background-color: white;
	color: black;
	border-radius: 13px;
}

#btn-submit:hover{
	background-color: #00bcd4b8;
	color: white;
	border-color: white;

}