

<div id="wrapper" class="wrapper" [class.is-hide-aside-big]="hideAsideInBig"  [class.is-hide-aside-small]="hideAsideInSmall">

  <header class="topnavbar-wrapper">

    <nav role="navigation" class="topnavbar">
      <div class="navbar-header">
        <div class="navbar-brand text-white" routerLink="/dashboard/amount">FIT ADMIN</div>
      </div>
      <div class="nav-wrapper">
        <ul class="nav navbar-nav">
          <li>
            <!-- Button used to collapse the left sidebar. Only visible on tablet and desktops-->
            <a class="hidden-xs" (click)="hideAsideInBig = !hideAsideInBig">
              <i class="fa fa-align-justify" aria-hidden="true"></i>
            </a>
            <!-- Button to show/hide the sidebar on mobile. Visible on mobile only.-->
            <a  class="visible-xs sidebar-toggle icon-sidebar" (click)="hideAsideInSmall = !hideAsideInSmall">
             <i class="fa fa-align-justify" aria-hidden="true"></i>
            </a>
          </li>

          <li>
            <a class="" >
              <i class="fa fa-user" aria-hidden="true"></i>
            </a>
        
          </li>

          <li>
            <a class="" >
              <i class="fa fa-bell" aria-hidden="true"></i>
            </a>

          </li>


        </ul>

   
        <ul class="nav navbar-nav navbar-right">
          <li  title="logout">
            <a (click)="onLogout()">
              <i class="fas fa-sign-out-alt"></i>
            </a>
          </li>
        </ul>


      </div>
    </nav>
  </header>

  <aside class="aside">
    <div class="aside-inner">
      <nav class="sidebar">
        <ul class="nav navbar-nav">
          <li routerLink="/dashboard/deportistas" routerLinkActive="active" title="photo">
            <a>
              <i class="fas fa-running"></i>
              <span class="hidden-xs">  Deportistas</span>
            </a>
          </li>
          <li routerLink="/dashboard/ejercicios" routerLinkActive="active" title="music">
           <a>
              <i class="fas fa-dumbbell"></i>
              <span class="hidden-xs">  Ejercicios</span>
            </a>
          </li>
          <li routerLink="/dashboard/dieta" routerLinkActive="active" title="video">
            <a>
              <i class="fas fa-utensils"></i>
              <span class="hidden-xs">  Dieta</span>
            </a>
          </li>
          <li routerLink="/dashboard/promociones" routerLinkActive="active" title="story">
            <a>
              <i class="fas fa-running"></i>
              <span class="hidden-xs">  Promociones</span>
            </a>
          </li>
        </ul>
      </nav>
    </div>
  </aside>

  <section class="section">
    <div class="content-wrapper">
      <div>
        <router-outlet></router-outlet>
      </div>
    </div>
  </section>

</div>
