.navbar-brand {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 15px !important;
  cursor: pointer;
}
.navbar-nav li.active .fa-user{
  color: #117391 !important;
}
.wrapper .section {
  margin-bottom: 0 !important;
}
.is-hide-aside-big > .aside {
  width: 0;
  visibility: hidden;
  overflow: hidden;
}
.is-hide-aside-small > .aside {
  width: 70px;
  margin-left: 0!important;
}
.is-hide-aside-small > .aside .aside-inner{
  width: 100% !important;
}
.is-hide-aside-big > .section{
  margin-left: 0;
}
.is-hide-aside-small > .section {
  margin-left: 70px;
}

#wrapper{
  /*font-size: 1.3rem;*/
}


.nav-wrapper{
     /*padding-top: 11px;*/
}

.btn-ico button{
  color:white;
}

.icon-sidebar{
  
}





/* ========================================================================
     Component: sidebar
 ========================================================================== */
.sidebar {
  height: 100%;
  padding-bottom: 20px;
  background-color: #fff;
  overflow-x: hidden;
  -webkit-overflow-scrolling: touch; }
  .sidebar:after {
    content: "";
    background: rgba(0, 0, 0, 0.15);
    position: absolute;
    display: block;
    top: 0;
    bottom: 0;
    right: 0;
    width: 1px;
    -webkit-transform: translateZ(0px); }
  .sidebar .nav-heading {
    padding: 12px 15px;
    color: #919DA8;
    font-size: 13px;
    letter-spacing: .035em;
    pointer-events: none;
    cursor: default; }
  .sidebar > .nav {
    position: relative; }
    .sidebar > .nav > .nav-heading:first-child {
      padding-top: 20px; }
    .sidebar > .nav > li {
      border-left: 3px solid transparent;
      -webkit-transition: border-left-color 0.4s ease;
      transition: border-left-color 0.4s ease; }
      .sidebar > .nav > li > a,
      .sidebar > .nav > li > .nav-item {
        padding: 12px 24px;
        color: #515253;
        letter-spacing: .025em;
        font-weight: normal;
        cursor: pointer; }
        .sidebar > .nav > li > a:focus, .sidebar > .nav > li > a:hover,
        .sidebar > .nav > li > .nav-item:focus,
        .sidebar > .nav > li > .nav-item:hover {
          text-decoration: none;
          outline: none;
          color: #23b7e5; }
        .sidebar > .nav > li > a > em,
        .sidebar > .nav > li > .nav-item > em {
          width: 1.8em;
          display: inline-block;
          font-style: normal;
          font-weight: normal;
          line-height: 1;
          -webkit-font-smoothing: antialiased;
          color: inherits; }
      .sidebar > .nav > li.active,
      .sidebar > .nav > li.active > a,
      .sidebar > .nav > li.active > .nav-item,
      .sidebar > .nav > li.active .nav, .sidebar > .nav > li.open,
      .sidebar > .nav > li.open > a,
      .sidebar > .nav > li.open > .nav-item,
      .sidebar > .nav > li.open .nav {
        background-color: #fcfcfc;
        color: #23b7e5; }
      .sidebar > .nav > li.active > .nav-item > em,
      .sidebar > .nav > li.active > a > em, .sidebar > .nav > li.open > .nav-item > em,
      .sidebar > .nav > li.open > a > em {
        color: #23b7e5; }
      .sidebar > .nav > li.active {
        border-left-color: #23b7e5; }
    .sidebar > .nav .label {
      display: block; }

@media only screen and (min-width: 1025px) {
  .sidebar:not(.show-scrollbar) {
    margin-right: -17px;
    overflow-y: scroll; } }

.sidebar-subnav {
  background-color: #fff; }
  .sidebar-subnav > .sidebar-subnav-header {
    color: #515253;
    display: none;
    padding: 10px 20px;
    font-weight: bold; }
  .sidebar-subnav > li {
    border-left: 0 !important; }
    .sidebar-subnav > li > a,
    .sidebar-subnav > li > .nav-item {
      display: block;
      position: relative;
      padding: 10px 20px;
      padding-left: 53px;
      font-weight: normal;
      background-color: transparent !important;
      color: #515253; }
      .sidebar-subnav > li > a:focus, .sidebar-subnav > li > a:hover,
      .sidebar-subnav > li > .nav-item:focus,
      .sidebar-subnav > li > .nav-item:hover {
        color: #23b7e5; }
      .sidebar-subnav > li > a > em,
      .sidebar-subnav > li > .nav-item > em {
        display: inline-block;
        width: 2em;
        margin: 0 0 0 -2em; }
    .sidebar-subnav > li.active > a,
    .sidebar-subnav > li.active > .nav-item {
      color: #23b7e5; }
      .sidebar-subnav > li.active > a:after,
      .sidebar-subnav > li.active > .nav-item:after {
        border-color: #23b7e5;
        background-color: #23b7e5; }
    .sidebar-subnav > li .nav > li {
      padding-left: 5px; }
  .sidebar-subnav.nav-floating {
    border: 1px solid rgba(0, 0, 0, 0.15);
    margin-left: -1px; }
    .sidebar-subnav.nav-floating, .sidebar-subnav.nav-floating .collapse {
      height: auto !important;
      display: block !important;
      visibility: visible !important; }
    .sidebar-subnav.nav-floating > .sidebar-subnav-header {
      display: block; }
    .sidebar-subnav.nav-floating li > a,
    .sidebar-subnav.nav-floating li > .nav-item {
      padding-left: 20px; }
      .sidebar-subnav.nav-floating li > a em,
      .sidebar-subnav.nav-floating li > .nav-item em {
        margin-left: 0; }

@media only screen and (min-width: 768px) {
  .sidebar > .nav .label {
    margin: 2px 0 0 0; } }

.aside-collapsed .sidebar,
.aside-collapsed-text .sidebar {
  overflow-x: hidden; }
  .aside-collapsed .sidebar > .nav .nav,
  .aside-collapsed .sidebar > .nav > .nav-heading,
  .aside-collapsed .sidebar > .nav > li > .nav-item > span,
  .aside-collapsed .sidebar > .nav > li > a > span,
  .aside-collapsed-text .sidebar > .nav .nav,
  .aside-collapsed-text .sidebar > .nav > .nav-heading,
  .aside-collapsed-text .sidebar > .nav > li > .nav-item > span,
  .aside-collapsed-text .sidebar > .nav > li > a > span {
    display: none !important; }
  .aside-collapsed .sidebar > .nav > li,
  .aside-collapsed-text .sidebar > .nav > li {
    width: 69px; }
    .aside-collapsed .sidebar > .nav > li > a, .aside-collapsed .sidebar > .nav > li > .nav-item,
    .aside-collapsed-text .sidebar > .nav > li > a,
    .aside-collapsed-text .sidebar > .nav > li > .nav-item {
      text-indent: -3px;
      padding: 20px 0;
      text-align: center; }
      .aside-collapsed .sidebar > .nav > li > a > em, .aside-collapsed .sidebar > .nav > li > .nav-item > em,
      .aside-collapsed-text .sidebar > .nav > li > a > em,
      .aside-collapsed-text .sidebar > .nav > li > .nav-item > em {
        font-size: 1.6em;
        width: auto; }
      .aside-collapsed .sidebar > .nav > li > a:focus, .aside-collapsed .sidebar > .nav > li > .nav-item:focus,
      .aside-collapsed-text .sidebar > .nav > li > a:focus,
      .aside-collapsed-text .sidebar > .nav > li > .nav-item:focus {
        background-color: transparent; }
        .aside-collapsed .sidebar > .nav > li > a:focus > em, .aside-collapsed .sidebar > .nav > li > .nav-item:focus > em,
        .aside-collapsed-text .sidebar > .nav > li > a:focus > em,
        .aside-collapsed-text .sidebar > .nav > li > .nav-item:focus > em {
          color: inherit; }
  .aside-collapsed .sidebar .nav .label,
  .aside-collapsed-text .sidebar .nav .label {
    position: absolute;
    top: 10px;
    right: 5px;
    text-indent: 0; }

.aside-collapsed-text .sidebar > .nav > li > .nav-item > span,
.aside-collapsed-text .sidebar > .nav > li > a > span {
  display: block !important;
  font-size: 12px; }

.aside-collapsed-text .sidebar > .nav > li {
  width: 88px; }
  .aside-collapsed-text .sidebar > .nav > li > a {
    padding: 14px 0; }
    .aside-collapsed-text .sidebar > .nav > li > a > em {
      font-size: 1.4em; }

.sidebar-subnav {
  height: 0;
  overflow: hidden;
  -webkit-transition: height .2s ease;
  transition: height .2s ease; }
  .sidebar-subnav.opening {
    height: auto;
    -webkit-transition: height .2s ease;
    transition: height .2s ease;
    -webkit-animation: fadeInLeft 0.5s;
    animation: fadeInLeft 0.5s; }





/* ========================================================================
     Component: top-navbar
 ========================================================================== */
.topnavbar {
  -webkit-backface-visibility: hidden;
  /* fixes chrome jump */
  margin-bottom: 0;
  border-radius: 0;
  background-color: #fff;
  z-index: 1050;
  border: 0;
  border-bottom: 1px solid rgba(0, 0, 0, 0.15); }
  @media only screen and (min-width: 768px) {
    .topnavbar .navbar-header {
      width: 220px;
      text-align: center; }
      .topnavbar .navbar-header .navbar-brand {
        width: 100%; } }

.topnavbar {
  position: relative; }
  .topnavbar .navbar-header {
    background-color: transparent;
    background-image: -webkit-linear-gradient(left, #23b7e5 0%, #51c6ea 100%);
    background-image: linear-gradient(to right, #23b7e5 0%, #51c6ea 100%);
    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FF23B7E5', endColorstr='#FF51C6EA', GradientType=1); }
    @media only screen and (min-width: 768px) {
      .topnavbar .navbar-header {
        background-image: none; } }
  .topnavbar .navbar-header {
    position: relative;
    z-index: 11; }
    .topnavbar .navbar-header .navbar-brand {
      padding: 0; }
    .topnavbar .navbar-header .brand-logo > img,
    .topnavbar .navbar-header .brand-logo-collapsed > img {
      margin: 0 auto; }
    .topnavbar .navbar-header .brand-logo {
      display: block;
      padding: 10px 15px; }
    .topnavbar .navbar-header .brand-logo-collapsed {
      display: none;
      padding: 6px 15px; }
  .topnavbar .navbar-nav > li > .navbar-text {
    color: #23b7e5; }
  .topnavbar .navbar-nav > li > a,
  .topnavbar .navbar-nav > .open > a {
    color: #23b7e5; }
    .topnavbar .navbar-nav > li > a:hover, .topnavbar .navbar-nav > li > a:focus,
    .topnavbar .navbar-nav > .open > a:hover,
    .topnavbar .navbar-nav > .open > a:focus {
      color: #117391; }
  .topnavbar .navbar-nav > .active > a, .topnavbar .navbar-nav > .active > a:hover, .topnavbar .navbar-nav > .active > a:focus,
  .topnavbar .navbar-nav > .open > a,
  .topnavbar .navbar-nav > .open > a:hover,
  .topnavbar .navbar-nav > .open > a:focus {
    background-color: transparent; }
  .topnavbar .navbar-nav > li > [data-toggle='navbar-search'] {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 20;
    font-size: 16px;
    line-height: 55px;
    color: #fff;
    padding-top: 0;
    padding-bottom: 0;
    -webkit-transition: color 0.3s ease;
    transition: color 0.3s ease; }
    @media only screen and (min-width: 768px) {
      .topnavbar .navbar-nav > li > [data-toggle='navbar-search'] {
        color: #fff; } }
  @media only screen and (max-width: 767px) {
    .topnavbar .navbar-text {
      margin: 10px; } }

@media only screen and (max-width: 767px) {
  .sidebar-toggle {
    position: absolute !important;
    top: 5px;
    right: 0;
    z-index: 3001; }
    .sidebar-toggle > em {
      color: white; } }

.nav-wrapper {
  padding: 0 15px;
  /*background-color: transparent;*/ }
  .nav-wrapper .nav.navbar-nav {
    float: left; }
    .nav-wrapper .nav.navbar-nav.navbar-right {
      float: right; }
  .nav-wrapper .nav > li {
    position: static;
    float: left; }
  .nav-wrapper .navbar-nav .open .dropdown-menu {
    position: absolute;
    background-color: white;
    left: 0px;
    right: 0px;
    border-top: 1px solid #e1e1e1;
    border-bottom: 1px solid #e1e1e1; }

.topnavbar .navbar-form {
  position: absolute;
  top: -100%;
  left: 0;
  right: 0;
  margin: 0;
  padding: 0;
  height: 55px;
  z-index: 9001;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  border: 0;
  border-bottom: 1px solid #e1e2e3; }
  .topnavbar .navbar-form .form-group {
    height: 100%;
    width: 100%; }
  .topnavbar .navbar-form .form-control {
    height: 100%;
    border: 0;
    border-radius: 0;
    width: 100%; }
  .topnavbar .navbar-form.open {
    top: 0; }
  .topnavbar .navbar-form .has-feedback .form-control-feedback {
    height: 30px;
    cursor: pointer;
    top: 50%;
    margin-top: -15px;
    line-height: 30px;
    margin-right: 10px;
    color: #c1c2c3;
    font-size: 1.5em;
    pointer-events: auto; }

@media only screen and (min-width: 768px) {
  .topnavbar .navbar-form {
    left: 220px; } }

@media only screen and (min-width: 768px) {
  .topnavbar {

    border: 0;
    background-color: #23b7e5;
    background-image: -webkit-linear-gradient(left, #23b7e5 0%, #51c6ea 100%);
    background-image: linear-gradient(to right, #23b7e5 0%, #51c6ea 100%);
    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FF23B7E5', endColorstr='#FF51C6EA', GradientType=1);}
    .topnavbar .navbar-header {
      background-image: none;
      background-repeat: no-repeat;
      -webkit-filter: none;
              filter: none; }
    .topnavbar .navbar-nav > a {
      box-shadow: 0 0 0 #000 inset;
      -webkit-transition: all 0.2s;
      transition: all 0.2s; }
    .topnavbar .navbar-nav > .open > a, .topnavbar .navbar-nav > .open > a:hover, .topnavbar .navbar-nav > .open > a:focus {
      box-shadow: 0 -3px 0 #5d9cec inset;
      -webkit-transition: all 0.2s;
      transition: all 0.2s; }
    .topnavbar .navbar-nav > li > .navbar-text {
      color: #fff; }
    .topnavbar .navbar-nav > li > a,
    .topnavbar .navbar-nav > .open > a {
      color: #fff; }
      .topnavbar .navbar-nav > li > a:hover, .topnavbar .navbar-nav > li > a:focus,
      .topnavbar .navbar-nav > .open > a:hover,
      .topnavbar .navbar-nav > .open > a:focus {
        color: #117391; }
    .topnavbar .navbar-nav > li > [data-toggle='navbar-search'] {
      position: static; }
  .nav-wrapper {
    position: relative;
    /*padding-top: 11px;*/
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.15);
    z-index: 10; background-color: transparent;}
    .nav-wrapper:before, .nav-wrapper:after {
      content: " ";
      display: table; }
    .nav-wrapper:after {
      clear: both; }
    .nav-wrapper .nav > li {
      position: relative; }
    .nav-wrapper .navbar-nav .open .dropdown-menu {
      left: auto;
      right: auto; }
    .nav-wrapper .navbar-nav.navbar-right .open .dropdown-menu {
      left: auto;
      right: 0; } }

@media only screen and (min-width: 768px) {
  .aside-collapsed .topnavbar .navbar-header .brand-logo {
    display: none; }
  .aside-collapsed .topnavbar .navbar-header .brand-logo-collapsed {
    display: block; }
  .aside-collapsed .topnavbar .navbar-header {
    width: 70px; }
  .aside-collapsed .topnavbar .navbar-form {
    left: 70px; } }

@media only screen and (min-width: 768px) {
  .aside-collapsed-text .topnavbar .navbar-header .brand-logo {
    display: none; }
  .aside-collapsed-text .topnavbar .navbar-header .brand-logo-collapsed {
    display: block; }
  .aside-collapsed-text .topnavbar .navbar-header {
    width: 90px; }
  .aside-collapsed-text .topnavbar .navbar-form {
    left: 90px; } }





/* ========================================================================
   Component: layout-extra
 ========================================================================== */
.hidden-footer .wrapper > footer {
  display: none; }

.hidden-footer .wrapper > section {
  margin-bottom: 0 !important; }

.layout-fs .wrapper > section {
  position: absolute;
  top: 114px;
  left: 0;
  right: 0;
  bottom: 60px;
  height: auto;
  margin-top: 0 !important;
  margin-bottom: 0 !important;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch; }
  @media only screen and (min-width: 480px) {
    .layout-fs .wrapper > section {
      overflow: hidden; } }
  @media only screen and (min-width: 768px) {
    .layout-fs .wrapper > section {
      top: 55px; } }
  .layout-fs .wrapper > section > .content-wrapper {
    width: 100%;
    height: 100%;
    padding: 0; }

.layout-fs.hidden-footer .wrapper > section {
  bottom: 0; }

.d-table,
.d-table-fixed {
  display: table;
  width: 100%;
  height: 100%;
  min-height: 240px;
  border-spacing: 0; }

.d-table-fixed {
  table-layout: fixed; }

.d-row {
  display: table-row;
  height: 100%; }

.d-cell,
.d-cell-wrapper {
  position: relative;
  display: table-cell;
  height: 100%;
  width: 100%;
  vertical-align: top;
  overflow: auto; }

.d-cell-wrapper {
  display: block; }
  .d-cell-wrapper .d-cell-inner {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0; }

@media only screen and (max-width: 767px) {
  .d-table-fixed {
    display: block; }
    .d-table-fixed > .d-cell {
      display: block;
      width: auto;
      height: auto; } }

/* Target Firefox only */
@-moz-document url-prefix() {
  .d-table, .d-table-desktop {
    height: 240px;
    min-height: 100%; }
  .d-cell-inner {
    overflow: auto; } }

.fh {
  height: 100% !important; }

.fw {
  width: 100% !important; }

.scroll {
  overflow: auto; }

.scroll-y {
  overflow-y: auto; }

.scroll-y {
  overflow-y: auto; }

.layout-h .wrapper > section {
  max-width: 1140px;
  margin-left: auto;
  margin-right: auto; }
  .layout-h .wrapper > section > .content-wrapper > h3 {
    display: none; }

.layout-h .wrapper > section {
  margin-top: 0; }

.layout-h .wrapper > .offsidebar {
  margin-top: 55px; }

.layout-h .wrapper > footer {
  margin: 0; }

.layout-h.layout-fixed .wrapper > section,
.layout-h.layout-fixed .wrapper > .offsidebar {
  margin-top: 55px; }

.aside-float .wrapper {
  box-shadow: 0 0 0 #000; }
  .aside-float .wrapper > footer {
    border: 0; }
  .aside-float .wrapper > .aside {
    padding: 15px 0;
    background: transparent; }
    .aside-float .wrapper > .aside > .aside-inner {
      height: 100%;
      top: 15px;
      bottom: 15px;
      left: inherit; }
    .aside-float .wrapper > .aside .sidebar {
      border: 1px solid #e4eaec; }
    .aside-float .wrapper > .aside .sidebar:after {
      display: none; }
  @media only screen and (min-width: 768px) {
    .aside-float .wrapper > section {
      padding-left: 15px; }
    .aside-float .wrapper > footer {
      left: 15px; } }
  .aside-float .wrapper .content-wrapper {
    border: 0; }
    .aside-float .wrapper .content-wrapper .content-heading {
      padding-top: 30px;
      border: 0;
      background-color: transparent; }
    .aside-float .wrapper .content-wrapper .unwrap {
      margin: 0 !important; }

.aside-float.aside-toggled .wrapper > .aside {
  -webkit-transition-delay: 0.05s;
  transition-delay: 0.05s; }
  .aside-float.aside-toggled .wrapper > .aside > .aside-inner {
    margin-left: 15px; }

.aside-float.aside-toggled .wrapper > section {
  padding-left: 15px; }

.aside-float.aside-toggled .wrapper > footer {
  left: 15px; }

@media only screen and (min-width: 768px) {
  .aside-float.aside-collapsed .topnavbar .navbar-header {
    width: 100px; }
  .aside-float.aside-collapsed-text .topnavbar .navbar-header {
    width: 120px; }
  .aside-float.layout-fs .wrapper > section > .content-wrapper {
    padding: 0 0 0 20px; }
  .aside-float .wrapper > .aside > .aside-inner {
    margin-left: 15px; } }

@media only screen and (min-width: 992px) {
  .aside-float.layout-boxed .wrapper > .aside > .aside-inner {
    margin-left: 0; }
  .aside-float.layout-boxed .wrapper > section {
    padding-left: 0; } }

.aside-float.aside-toggled.layout-fs .wrapper > section > .content-wrapper {
  padding: 0 0 0 20px; }






/* ========================================================================
   Component: layout-animation.less
 ========================================================================== */
.wrapper > .aside {
  -webkit-transition: width .2s cubic-bezier(0.35, 0, 0.25, 1), translate .2s cubic-bezier(0.35, 0, 0.25, 1);
  transition: width .2s cubic-bezier(0.35, 0, 0.25, 1), translate .2s cubic-bezier(0.35, 0, 0.25, 1); }

.aside-inner,
.navbar-header,
.sidebar > .nav > li {
  -webkit-transition: width 0.2s cubic-bezier(0.35, 0, 0.25, 1);
  transition: width 0.2s cubic-bezier(0.35, 0, 0.25, 1); }

.wrapper > section {
  -webkit-transition: margin-left 0.2s cubic-bezier(0.35, 0, 0.25, 1);
  transition: margin-left 0.2s cubic-bezier(0.35, 0, 0.25, 1); }

.sidebar > .nav .label {
  -webkit-animation: fadeInRight 1s;
  animation: fadeInRight 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both; }

.aside-collapsed .sidebar > .nav .label,
.aside-collapsed-text .sidebar > .nav .label {
  -webkit-animation: fadeIn 1s;
  animation: fadeIn 1s; }

.sidebar .nav > li > a {
  -webkit-animation: fadeInLeft 0.5s;
  animation: fadeInLeft 0.5s; }

.sidebar > .nav > .nav-heading,
.sidebar > .nav > li > a > span,
.navbar-brand .brand-logo {
  -webkit-animation: fadeIn 1s;
  animation: fadeIn 1s; }

.sidebar li > a, .sidebar li > .nav-item,
.sidebar > .nav > .nav-heading {
  white-space: nowrap; }

.aside-collapsed .user-block-picture,
.aside-collapsed-text .user-block-picture {
  -webkit-transition: width 0.2s cubic-bezier(0.35, 0, 0.25, 1);
  transition: width 0.2s cubic-bezier(0.35, 0, 0.25, 1); }

.aside-collapsed .user-block,
.aside-collapsed-text .user-block {
  -webkit-transition: padding 0.2s cubic-bezier(0.35, 0, 0.25, 1);
  transition: padding 0.2s cubic-bezier(0.35, 0, 0.25, 1); }











