<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header card-header-primary">
                        <h4 class="card-title ">Promocion</h4>
                    </div>
                    <div class="card-body">
                      
                        <div class="row row-1 animated fadeInRight">

                            <div class="card-body">
                                <h5 class="card-title">{{promocion.tipo}}</h5>
                                <p class="card-text"> <strong>Titulo:</strong>&nbsp; {{promocion.titulo}} </p>
                                <p class="card-text"><strong>Objetivo:</strong>&nbsp; {{promocion.objetivo}}</p>
   
                            </div>
                      
                        </div>

                        <hr>

                        <div class="row row-1 animated fadeInRight">
                            <div class="col" >
                                <div class="card" >
                                    <img class="card-img-top text-center imagen" src="{{promocion.imagen}}" alt="Card image cap" >                           
                                </div>
                            </div>

                              
                        </div>

          
                     
                    
                    </div>
                </div>
            </div>
     
        </div>
    </div>
</div>