<ion-header >
  <ion-toolbar color="shade">
      <ion-buttons slot="end">
          <ion-label color="light" (click)="dismiss()" class="ion-margin-end" >Cerrar</ion-label>
      </ion-buttons>
      <!--<a slot="end" routerLink="/news">
          <ion-icon color="light" name="notifications-outline"></ion-icon>
      </a>-->
  </ion-toolbar>
</ion-header>

<ion-content >
  
  <div class="contenedor ion-margin">
    <ion-label class="title">FELICITACIONES</ion-label>
    <ion-img src="../../assets/icon/trofeo.png"></ion-img>
    <ion-label class="title">¡ Lo lograste !</ion-label>
    <br>
    <br>     
    <ion-label class="text">Haz completado tu entrenamiento, !sigue asi!</ion-label>
  </div>
  

</ion-content>
