.subtitle-activo{
    color: #13d52c;
    font-family: cursive;
}

.subtitle-inactivo{
    color: #ef4134;
    font-family: cursive;
}


  
.letter{
    font-family: fantasy;
     font-size: x-large;
  }

.letter1{
    font-size: large;
}
  
.letter2{
    font-family: cursive;
    font-size: x-large;
}
  
.card1{
    margin-left: 10px;
    margin-right: 10px;
}

.cardhead{
    background-color: #eeeeee;

}
