<div class="is-auth">

  <form novalidate #formLogin="ngForm" (ngSubmit)="onLogin()" >

    <div class="form-heading">
      <h1>TSQ ADMIN</h1>
    </div>

    <div class="form-body">
      <div class="form-group has-feedback">
        <input  class="form-control form-control-lg" name="email" required type="email" placeholder="Enter email" [(ngModel)]="email" >
        <span class="fa fa-envelope form-control-feedback text-muted"></span>
      </div>
      <div class="form-group has-feedback">
        <input  class="form-control form-control-lg" name="password" required type="password" placeholder="Password" [(ngModel)]="password" c>
        <span class="fa fa-lock form-control-feedback text-muted"></span>
      </div>
      <div class="clearfix mt-lg">
        <div class="checkbox c-checkbox pull-left mt0">
          <label>
            <input type="checkbox"  name="remember">
            <span class="fa fa-check"></span>Remember Me</label>
        </div>
        <div class="pull-right"><a class="text-muted">Forgot your password?</a>
        </div>
      </div>
      <button type="submit" class="btn btn-block btn-primary btn-lg mt-lg">
        Login 
      </button>
    </div>

  </form>

</div>

