<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-menu-button color="light" autoHide="false"></ion-menu-button>
        </ion-buttons>
        <ion-row align-items-center>
            <ion-col size="4"></ion-col>
            <ion-col size="5" class="title">
                Ejercicios
            </ion-col>
            <ion-col size="3" text-end>
                <a routerLink="/news">
                    <ion-icon color="light" name="notifications-outline"></ion-icon>
                </a>
            </ion-col>
        </ion-row>
    </ion-toolbar>
</ion-header>

<ion-content >
    <ion-card routerLink="/calculadora" class="ion-no-padding ion-margin-top">
        <img class="imgc" src="../../assets/video/app_centr.jpg" />
        <div class="card-title ion-padding-start">CALCULADORA </div>
        <div class="card-subtitle ion-padding-start">Algo extra</div>
    </ion-card>
    <ion-card routerLink="/ejertipos" class="ion-no-padding ion-margin-top">
        <img class="imgc" src="../../assets/video/unnamed.png" />
        <div class="card-title ion-padding-start">EJERCICIOS</div>
        <div class="card-subtitle ion-padding-start">Algo extra</div>
    </ion-card>

</ion-content>