<ion-content >
    <ion-slides  pager="true" mode="ios">
        <ion-slide class="step-one">
            <h1>OE <3</h1>
            <p>Deslize para continuar</p>
        </ion-slide>
    
        <ion-slide class="step-two">
            <!--<ion-img src="../assets/video/slide2.jpg"></ion-img>-->
            <h1>Ya me salió</h1>
            <p>:P</p>
        </ion-slide>
    
        <ion-slide class="step-three">
            <ion-img src="../assets/video/slide2.jpg"></ion-img>
            <h1>Si sonreiste</h1>
            <p>Presiona sino no haha!</p>
            <ion-button routerLink="/login">Aquí <3</ion-button>
        </ion-slide>
    </ion-slides>
</ion-content>

