<ion-header >
    <ion-toolbar color="shade">
        <ion-menu-button slot="start" color="light" autoHide="false"></ion-menu-button>
        <ion-title text-center class="title">Entrenamientos</ion-title>
        <ion-buttons slot="start">
            <ion-back-button color="light" text=""></ion-back-button>
        </ion-buttons>
        <a slot="end" routerLink="/news">
            <ion-icon color="light" name="notifications-outline"></ion-icon>
        </a>
    </ion-toolbar>
</ion-header>

<ion-content class="fondo">

    <ion-card *ngFor="let item of planEntrenamiento.rutinas;let i = index" color="light" class="ion-margin ion-padding"> 
        <ion-card-header color="dark">
          <ion-card-subtitle>{{item.rutina.titulo | uppercase}}</ion-card-subtitle>
          <ion-card-title>Rutina {{i +1 }}</ion-card-title>
        </ion-card-header>
        <ion-card-content>
            <ion-item-group *ngFor="let item of planEntrenamiento.rutinas; let i = index" >
                <ion-chip color="warning">
                    <ion-icon name="md-sunny" ></ion-icon>
                    <ion-label >{{item.dias}}</ion-label>
                </ion-chip>
                <ion-chip color="success">
                    <ion-icon name="md-calendar" ></ion-icon>
                    <ion-label >{{item.semanas}}</ion-label>
                </ion-chip>

                <ion-item-divider>
                    <ion-label>EJERCICIOS</ion-label>
                </ion-item-divider>

                <ion-item *ngFor="let item2 of item.rutina.ejercicios; let j = index">
                    <ion-chip class="ion-padding-end ion-margin-end" color="secondary">
                        <ion-note color="light">{{j+1}}</ion-note>
                    </ion-chip>
                    <ion-text color="light">{{item2.ejercicio.titulo}}</ion-text>
                </ion-item>
                
                <!--<ion-item >
                    <ion-chip class="ion-padding-end ion-margin-end" color="secondary">
                        <ion-note color="light">{{j+1}}</ion-note>
                    </ion-chip>
                    <ion-note class="ion-padding-bottom" color="light">{{item2.ejercicio.titulo}}</ion-note>
                <ion-item>-->
                

               
        
            </ion-item-group>


        </ion-card-content>
    </ion-card>

    

  

</ion-content>