<!-- About Section -->
<section class="bg-primary text-white mb-0" id="compromise">
    <div class="container">
      <h2 class="text-center text-uppercase text-white">Compromiso</h2>
      <hr class="star-light mb-5">
      <div class="row">
          <div class="col-lg-4 ml-auto">
              <p class="lead">Te proponemos entrenamientos únicos y personalizados, salud, nutrición y mucho más.</p>
              <ul class="lead">
                  <li>Mejora tu Salud</li>
                  <li>Mejora tu Peso Corporal</li>
                  <li>Disminuye el Porcentaje de Grasa Corporal</li>
              </ul>
            </div>
          <div class="col-lg-4 mr-auto">
              <p class="lead text-justify">Encargado de prepararlos de forma integral para sus competencias deportivas, es importante recordar mantener una buena técnica de carrera,
                  logramos una eficiencia mecánica, te cansas menos durante el trote y evitas llesiones.</p>
          </div>
        </div>
        <p class="lead lead1 text-secondary text-center">“ Cumplir un objetivo necesita de un plan, trazar una estrategia, 
                  accionar paso a paso y no detenerse hasta lograrlo ” A.O </p>
      </div>
  </section>