<div class="jumbotron">

    <div id="content-athletes">

        <button type="button" class="btn btn-success"> <i class="fas fa-plus-circle"></i> Nuevo Deportista</button>

        <hr>

          <table  #dataTable class="table table-hover display responsive nowrap" style="width:100%">
            <thead class="thead-dark">
              <tr>
                <th scope="col">#</th>
                <th scope="col">Nombre</th>
                <th scope="col">Apellido</th>
                <th scope="col">Email</th>
                <th scope="col">Teléfono</th>
                <th scope="col">Acciones</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <th scope="row">1</th>
                <td>Mark</td>
                <td>Otto</td>
                <td>mdo@mdo.com</td>
                <td>0998088058</td>
                <td>
                  <button type="button" class="btn btn-sm btn-outline-info"><i class="fas fa-user"></i></button>  
                  <button type="button" class="btn btn-sm btn-outline-warning"><i class="fas fa-edit"></i></button>  
                  <button type="button" class="btn btn-sm btn-outline-danger"><i class="fas fa-trash-alt"></i></button>     
                </td>
              </tr>
              <tr>
                <th scope="row">2</th>
                <td>Jacob</td>
                <td>Thornton</td>
                <td>@fat</td>
                <td>0998088058</td>
                <td>
                  <button type="button" class="btn btn-sm btn-outline-info"><i class="fas fa-user"></i></button>  
                  <button type="button" class="btn btn-sm btn-outline-warning"><i class="fas fa-edit"></i></button>  
                  <button type="button" class="btn btn-sm btn-outline-danger"><i class="fas fa-trash-alt"></i></button>     
                </td>
              </tr>
           


            </tbody>
        </table>
  
        
    </div>

   
</div>

