<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header card-header-primary">
                        <h4 class="card-title "> 
                                Servicios  
                        </h4>
                    </div>
                    <br>
                    <!--<div class="row animated fadeInRight btn-add">
                        <button mat-raised-button class="btn btn-success ml-auto" (click)="newModal()"  data-toggle="modal" data-target="#dataModal">
                            <i class="fas fa-plus-circle"></i> Añadir
                        </button>
                    </div>-->
                    
                    
                    <div class="card-body">
                            <div class="card text-center" *ngFor="let element of servicesList; let i=index">
                                <div class="card-header bg-light" >
                                  Servicio {{i+1}}
                                </div>
                                <div class="card-body">
                                    <h5 class="card-title"> <i class="material-icons">{{element.icono}}</i></h5>       
                                    <h5 class="card-title"> {{element.titulo}}</h5>
                                    <p class="card-text">{{element.detalle}}</p>
                                    <p class="card-text"><a href="#" class="btn btn-primary" (click)="editModal(element)" data-toggle="modal" data-target="#dataModal"><i class="fas fa-edit"></i>  Editar</a> 
                                                        <!--<a href="#" class="btn btn-danger"  (click)="deletedId(element)" data-toggle="modal" data-target="#modalDeleted"><i class="fas fa-trash"></i>  Eliminar</a> </p>-->
                                
                                </div>
                            </div>
                         
                    </div>
                </div>
            </div>
     
        </div>
    </div>
</div>

<!-- FORMULARIO MODAL -->
<div class="modal fade" id="dataModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel"> 
              <span *ngIf="newObject == true" ><i class="fas fa-edit"></i>  Actualizar Servicio</span>
              <span *ngIf="newObject == false" ><i class="fas fa-save"></i> Nuevo Servicio</span>
          </h5> 
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <form id="form-entrenamiento" (ngSubmit)="guardar()" #form="ngForm">
            <div class="modal-body">

                <div class="example-container">
                    <div class="row">
                        <div class="col-md-12">
                            <mat-form-field *ngIf="newObject == true">      
                                <input matInput placeholder="Titulo" type="text" name="titulo" [(ngModel)]="service.titulo"
                                #title="ngModel" required maxlength="50" #inputn>
                                <mat-hint align="end">{{inputn.value?.length || 0}}/50</mat-hint>
                                    <!--MSJ ERROR TITULO-->
                                    <mat-error *ngIf="title.errors && (title.dirty || title.touched)">
                                        <span *ngIf="title.errors.required">Este campo no puede estar vacío</span>
                                    </mat-error>
                            </mat-form-field>
                            
                            <mat-form-field *ngIf="newObject == false">      
                                    <input matInput placeholder="Titulo" type="text" name="titulo" [(ngModel)]="serviceNew.titulo"
                                    #title="ngModel" required maxlength="50" #inpute>
                                    <mat-hint align="end">{{inpute.value?.length || 0}}/50</mat-hint>
                                        <!--MSJ ERROR TITULO-->
                                        <mat-error *ngIf="title.errors && (title.dirty || title.touched)">
                                            <span *ngIf="title.errors.required">Este campo no puede estar vacío</span>
                                        </mat-error>
                            </mat-form-field>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-12">
                            <mat-form-field *ngIf="newObject == true">
                                <textarea matInput placeholder="Detalle" rows="5" name="detalle" [(ngModel)]="service.detalle"
                                #detail="ngModel" required maxlength="256" #idet></textarea>
                                <mat-hint align="end">{{idet.value?.length || 0}}/256</mat-hint>
                                    <!--MSJ ERROR DETALLE-->
                                    <mat-error *ngIf="detail.errors && (detail.dirty || detail.touched)">
                                        <span *ngIf="detail.errors.required">Este campo no puede estar vacío</span>
                                    </mat-error>
                            </mat-form-field>

                            <mat-form-field *ngIf="newObject == false">
                                    <textarea matInput placeholder="Detalle" rows="5" name="detalle" [(ngModel)]="serviceNew.detalle" #detail="ngModel" required maxlength="256" #idet></textarea>
                                    <mat-hint align="end">{{idet.value?.length || 0}}/256</mat-hint>
                                        <!--MSJ ERROR DETALLE-->
                                        <mat-error *ngIf="detail.errors && (detail.dirty || detail.touched)">
                                            <span *ngIf="detail.errors.required">Este campo no puede estar vacío</span>
                                        </mat-error>
                            </mat-form-field>
                        </div>
                    </div>

                    <div class="row">
                            <div class="col-md-12">        

                                <mat-form-field  *ngIf="newObject == true">
                                    <mat-label>Icono</mat-label>
                                    <mat-select disableRipple (selectionChange)="select($event.value)" 
                                    [(value)]="service.icono">
                                        <mat-option *ngFor="let option of serviciosIcon" [value]="option.name">
                                            <i class="material-icons">
                                                {{option.name}}
                                            </i>
                                            | <span>{{option.name}}</span>
                                        </mat-option>
                                    </mat-select>
                                </mat-form-field>

                                <mat-form-field  *ngIf="newObject == false">
                                        <mat-label>Icono</mat-label>
                                        <mat-select disableRipple (selectionChange)="select($event.value)" 
                                        [(value)]="serviceNew.icono" required name="icon" [(ngModel)]="serviceNew.icono" #icon="ngModel">
                                            <mat-option *ngFor="let option of serviciosIcon" [value]="option.name">
                                                <i class="material-icons">
                                                    {{option.name}}
                                                </i>
                                                | <span>{{option.name}}</span>
                                            </mat-option>
                                        </mat-select>
                                         <!--MSJ ERROR ICONO-->
                                    <mat-error *ngIf="icon.errors && (icon.dirty || icon.touched)">
                                            <span *ngIf="icon.errors.required">Este campo no puede estar vacío</span>
                                        </mat-error>
                                    </mat-form-field>
                                        
                            </div>
                    </div>
                            
                </div>

            </div>
            
            <div class="modal-footer">
                
              <button type="button" class="btn btn-danger" data-dismiss="modal">Cerrar</button>

              <button type="submit" class="btn btn-primary" *ngIf="newObject == true" [disabled]='form.invalid'> Actualizar</button>
              <button type="submit" class="btn btn-primary" *ngIf="newObject == false" [disabled]='form.invalid'> Guardar</button>
              
                
            </div>
        </form>
      </div>
    </div>
</div> 
  


<!--Comfirm Modal-->
<!-- Modal -->
<div class="modal fade" id="modalDeleted" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLabel">Esta seguro que desea eliminar este servicio?</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-primary" data-dismiss="modal" (click)="eliminar()">Si</button>
              <button type="button" class="btn btn-secondary"  data-dismiss="modal" >No</button>
            </div>
          </div>
        </div>
  </div>