.btn-outline-success{
	border-color: #27c24c;
    background-color: transparent;
    margin-right: 20px;
}

.btn-outline-success:hover { 
  background-color: #28a745;
  color:white;
}

.btn-primary{
  background-color: transparent;
  color: #007bff;
  border-color: #007bff;
  
}

.btn-primary:hover { 
  background-color: #007bff;
  color: white;
}

.btn-danger{
  background-color: transparent;
  color: #dc3545;;
  border-color: #dc3545;;
  
}

.btn-danger:hover { 
  background-color:#dc3545;;
  color: white;
}

.row-1{
	/*background-color: white;*/
    margin-right: 0px;
    margin-left: 0;
    padding-top: 15px;
    padding-bottom: 15px;
}

#form-deportista .form-control{
  margin-bottom: 0px;
}


.modal-content, .calendar {
background: rgba(147,206,222,1);
background: -moz-linear-gradient(45deg, rgba(147,206,222,1) 0%, rgba(117,189,209,1) 41%, rgba(73,165,191,1) 100%);
background: -webkit-gradient(left bottom, right top, color-stop(0%, rgba(147,206,222,1)), color-stop(41%, rgba(117,189,209,1)), color-stop(100%, rgba(73,165,191,1)));
background: -webkit-linear-gradient(45deg, rgba(147,206,222,1) 0%, rgba(117,189,209,1) 41%, rgba(73,165,191,1) 100%);
background: -o-linear-gradient(45deg, rgba(147,206,222,1) 0%, rgba(117,189,209,1) 41%, rgba(73,165,191,1) 100%);
background: -ms-linear-gradient(45deg, rgba(147,206,222,1) 0%, rgba(117,189,209,1) 41%, rgba(73,165,191,1) 100%);
background: linear-gradient(45deg, rgba(147,206,222,1) 0%, rgba(117,189,209,1) 41%, rgba(73,165,191,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#93cede', endColorstr='#49a5bf', GradientType=1 );
}
 


