ion-icon{
    font-size: 20px;
}

ion-avatar{
    width:60%; height:100%;
}

img{
    margin-left: 30%;
}

.subt{
    font-weight: bold;
}

.fondo {
    --ion-background-color: #0f0f0f;
}

.title{
    font-size:17px;
    color:white;
    font-weight: bolder;
}