<ion-content padding>
  <ion-icon padding-top name="arrow-back" routerLink="/registro/gender"></ion-icon>
  <ion-label>
    <h4>¿Cuál es tu objetivo?</h4>
  </ion-label>

  <ion-list>
    <ion-radio-group color="warning">
      <ion-item color="dark" class="font ion-margin-bottom">
        <ion-icon  color="warning" name="flame"></ion-icon>
        <ion-note class="ion-margin-top ion-padding obj">PERDER PESO Y QUEMAR GRASA</ion-note>
        <ion-radio color="warning" mode="ios" slot="start" value="biff" checked></ion-radio>
      </ion-item>

      <ion-item color="dark" class="font ion-margin-bottom">
        <ion-icon  color="tertiary" name="thumbs-up"></ion-icon>
        <ion-note class="ion-margin-top ion-padding obj">GANAR MASA MUSCULAR Y FUERZA</ion-note>
        <ion-radio color="warning" mode="ios" slot="start" value="griff"></ion-radio>
      </ion-item>

      <ion-item color="dark" class="font">
        <ion-icon  color="success" name="body"></ion-icon>
        <ion-note class="ion-margin-top ion-padding obj">VIVIR DE FORMA SALUDABLE Y MANTENER MI PESO</ion-note>
        <ion-radio color="warning" mode="ios" slot="start" value="buford"></ion-radio>
      </ion-item>
    </ion-radio-group>
  </ion-list>










</ion-content>
<ion-footer>
  <ion-button size="large" color="success" expand="block" routerLink="/registro/personal">Siguiente</ion-button>
</ion-footer>